
/*fonts*/

@font-face {
  font-family: linecons;
  src: url(../fonts/linecons.eot?24293614);
  src: url(../fonts/linecons.eot?24293614#iefix) format('embedded-opentype'), url(../fonts/linecons.woff?24293614) format('woff'), url(../fonts/linecons.ttf?24293614) format('truetype'), url(../fonts/linecons.svg?24293614#linecons) format('svg');
  font-weight: 400;
  font-style: normal
}


/*xenon core */

body {
  background-color: #eee;
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #2c2e2f;
}

.img{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img > img{
  height: 100%;  
}

#logo_preview{
  height: 100px;
  width: auto;
}

a {
  outline: 0!important;
  color: #373e4a;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}


a:hover, a:focus {
  color: #16191e;
  text-decoration: underline;
  outline: 0;
}

p {
    color: #979898
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none
}

.btn {
    outline: 0;
    border: 1px solid transparent;
    margin-bottom: 10px;
    border-radius: 0;
}

.btn.text-left {
    text-align: left
}

.btn:active,
.btn:focus {
    outline: 0!important
}

.btn:active {
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .08);
    -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .08)
}
.btn-primary,.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #2c2e2f;
    border-color: #202122;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	color: #fff;
    background-color: #131415;
    border-color: #020202;
}
label[for] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

[class*=fa-] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
/*.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
	position: static;
	margin-top: 0;
}*/

a:hover {
    text-decoration: none
}

label {
    font-weight: 400
}
textarea{
  resize: vertical;
}
.flexbox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;

    align-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-flex-align: flex-start;
}
.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.form-control:active,
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.form-group .form-control {
    border-radius: 0;
    border-color: #e4e4e4;
}
.form-control:focus, .form-control:active {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: rgba(104,184,40,.5);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(104,184,40,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(104,184,40,.6);
}

.cbr-replaced .cbr-state span {
  display: block;
  background: url(../img/ok.png) no-repeat center center;
  background-image: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}
.cbr-replaced.cbr-checked span {
  background-image: url(../img/ok.png);
}
.cbr-replaced.cbr-primary.cbr-checked span,
.cbr-replaced.cbr-secondary.cbr-checked span,
.cbr-replaced.cbr-success.cbr-checked span,
.cbr-replaced.cbr-info.cbr-checked span,
.cbr-replaced.cbr-danger.cbr-checked span,
.cbr-replaced.cbr-warning.cbr-checked span,
.cbr-replaced.cbr-red.cbr-checked span,
.cbr-replaced.cbr-blue.cbr-checked span,
.cbr-replaced.cbr-purple.cbr-checked span,
.cbr-replaced.cbr-pink.cbr-checked span,
.cbr-replaced.cbr-orange.cbr-checked span,
.cbr-replaced.cbr-turquoise.cbr-checked span,
.cbr-replaced.cbr-yellow.cbr-checked span,
.cbr-replaced.cbr-gray.cbr-checked span {
  background-image: url(../img/ok-white-full.png);
}
.grid-view{
  background-color: #fff;
  padding: 30px;
}
.grid-view th a:before{
  content: '\f07d';
  margin-right: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.grid-view th a.asc:before{
  content: '\f160';
}
.grid-view th a.desc:before{
  content: '\f161';
}
.img-shade{
  background: transparent;
}
.droppable-area > img{
  cursor: pointer;
}

.radio .radio-label{
  width: 110px;
  display: inline-block;
}
.advantages{
  list-style: none;
  padding: 10px;
  border: 1px solid #e4e4e4;
  margin-top: -40px;
}
.advantages.property_list{
  margin-top: 0;
}
.advantages > li{
  position: relative;
  padding: 5px;
}
.uk-nestable{
  margin-top: -120px;
}
.uk-nestable-list-item{
  position: relative;
}
.uk-nestable-item{
  line-height: 34px;
}

@media(max-width: 767px){
  .advantages,
  .uk-nestable{
    margin-top: 0;
  }
}

.loading{
  position: relative;
   
}
.loading > *{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
.loading.async_inline > *{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
.loading:before{
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.loading:after{
  font-family: FontAwesome;
  font-size: 2em;
  display: block;
  line-height: 1;
  content: "\f021";
  position: absolute;
  top: calc(50% - .5em);
  left: calc(50% - .4em);
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  z-index: 2;
}
.loading.async_inline:after{
  left: auto;
  right: 15px;
  font-size: 1em;
}