
/*xenon*/

.login-page .login-form .form-group .control-label,
.login-page .login-form .form-group .form-control {
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}

#toast-container>:hover {
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer
}

.login-page {
    background: #2c2e2f;
    color: #fff;
    padding-top: 150px
}

.login-page .errors-container {
    margin-bottom: 20px;
    padding: 0 30px
}

.login-page .login-form {
    position: relative;
    padding: 30px;
    margin-bottom: 20px
}

.login-page .login-form.fade-in-effect {
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 800ms cubic-bezier(0.39, .575, .565, 1);
    -moz-transition: all 800ms cubic-bezier(0.39, .575, .565, 1);
    -o-transition: all 800ms cubic-bezier(0.39, .575, .565, 1);
    transition: all 800ms cubic-bezier(0.39, .575, .565, 1)
}

@media screen and (max-width:768px) {
    .login-page .login-form.fade-in-effect {
        left: 0
    }
}

.login-page .login-form.fade-in-effect .form-group {
    position: relative;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms
}

.login-page .login-form.fade-in-effect.in {
    left: 0;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100)
}

.login-page .login-form.fade-in-effect.in .form-group {
    top: 0;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100)
}

.login-page .login-form .login-header {
    margin-bottom: 40px
}

.login-page .login-form .login-header .logo {
    display: block;
    background-color: #2c2e2f;
    padding: 10px;
}

.login-page .login-form .login-header .logo img {
    vertical-align: baseline
}

.login-page .login-form .login-header .logo span {
    padding-left: 3px;
    color: #fff;
    font-size: 15px;
    vertical-align: baseline;
    display: none;
}

.login-page .login-form .login-header p {
    color: #979898;
    font-size: 13px;
    margin: 0;
    margin-top: 10px
}

.login-page .login-form .form-group {
    position: relative;
    margin-bottom: 20px
}

.login-page .login-form .form-group .control-label {
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 13px;
    color: #979898;
    cursor: text
}
form .form-group .help-block,
form .form-group.has-error .help-block{
  margin: 0;
  position: absolute;
  line-height: 35px;
  top: 0;
  right: 35px;
  bottom: 0;
  color: rgba(151, 152, 152, 0.8);
  padding-right: 12px;
  font-size: 12px;
}



/*jaguar-team*/

.form-group #rememberme-label {
    color: #979898;
    font-size: 13px;
    margin-left: 0
}

.form-group #rememberme {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px
}

.radio, .checkbox{
	margin: 0;
	font-size: 13px;
	color: #979898;
}
.radio label, .checkbox label{
	padding: 0;
}
form.login-form .form-group .help-block,
form.login-form .form-group.has-error .help-block{
    margin: 0;
    position: absolute;
    line-height: 40px;
    top: 0;
    right: 30px;
    bottom: 0;
    color: rgba(151, 152, 152, 0.8);
    padding-right: 12px;
    font-size: 12px;
}

