.panel h3{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.6);
}
.form-horizontal>.form-group:last-child{
	margin-bottom: 15px;
}
.droppable-area{
	height: 250px;
	line-height: 250px;
	width: 250px;
	min-width: 250px;
	float: none;
}
.search_areas{
	position: relative;
}
.group:after{
	display: block;
	content: '';
	clear: both;
}
.group .field{
	float: left;
	width: calc(100% - 80px);
}
.group .btn{
	display: block;
	float: right;
	width: 70px;
	margin: 0;
}
.select2-choices{
  height: auto!important;
  height: 1%;
  margin: 0;
  padding: 20px 5px 0 0;
  position: relative;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
}
.select2-choices .select2-search-choice {
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  
}
.select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-choices li {
  float: left;
  list-style: none;
}
html .select2-choices .select2-search-choice div {
  color: #7d7f7f;
}
.select2-choices .select2-search-choice-close {
  left: 3px;
}
html .has-error .select2-container .select2-choice:focus{
  border-color: #cc3f44!important;
}
html .has-error .select2-container .select2-choice{
  border-color: rgba(204, 63, 68, .4)!important;
}

.btn.bio{
	position: absolute;
	right: 35px;
	bottom: 55px;
	z-index: 3;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #2c2e2f;
  border-color: #2c2e2f;
  cursor: default;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #16191e;
  background-color: #eee;
  border-color: #ddd;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #373e4a;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.members-table tbody tr td .img-circle{
	float: left;
	margin-right: 10px;
}
.action-links{
	float: left;
}
.action-links a {
    font-size: 11px;
}
.action-links a:hover{
	zoom: 1;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    -ms-filter: alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.action-links a+a {
    margin-left: 5px;
}
.action-links a.edit {
    color: #8dc63f;
}
.action-links  a.delete {
    color: #cc3f44;
}
.action-links a.view{
	color: #0e62c7;
}
.members-table tbody tr td .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>thead>tr>th, .table>tbody>tr>th {
	padding: 12px 10px;
}
.table>thead>tr>td:after, .table>thead>tr>th:after{
	display: none;
}
.table-responsive[data-pattern=priority-columns]>.table>tbody>tr>td.user-name{
	width: 270px;
}
.table-responsive[data-pattern=priority-columns]>.table>tbody>tr>td.zip_codes{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.table-responsive[data-pattern=priority-columns]>.table>tbody>tr>td.message{
	max-width: 320px;
	min-width: 200px;
	white-space: normal;
}
html .select2-container,
.input-group.date{
	min-width: 200px;
}
.table-responsive[data-pattern=priority-columns]{
	margin: 18px 0;
}
input[type=checkbox].iswitch{
	margin-top: 7px;
}

@media(max-width: 767px){

}
/*******************
	PROPERTY LIST

*******************/
.property_list .filter{

}
/*flex*/
.property_list > ul.list{
    list-style: none;
    color: #000;
    line-height: 1;
    margin: 0;
}
.property_list > ul.list > li{
	display: block;
	background-color: #f4f4f4;
	padding: 20px;
	width: calc(50% - 8px);
	margin-bottom: 15px;
}
.property_list > ul.list > li.empty{
	width: 100%;
}
.property_list > ul.list > li:after,
.property_list > ul.list > li .property_info:after,
.property_list .filters:after{
	display: block;
	content: '';
	clear: both;
}
.property_list > ul.list > li .property_info{
	margin-bottom: 25px;
}
.property_list > ul.list > li hr{
	clear: both;
	border-top: 1px solid #dadada;
	float: left;
	width: 100%;
	margin: 0;
}


.property_info .img{
	width: 270px;
	height: 190px;
	float: left;
	margin-right: 15px;
}
.property_info .content{
	float: left;
	width: calc(100% - 285px);
	font-size: 14px;
	font-weight: bolder;
}
.property_info .content .title{
	font-size: 28px;
	margin-bottom: 15px;
}
.property_info .content address{	
	margin-bottom: 10px;
	padding-left: 0;
	border-left: 0;
}
/*flex*/
.property_info .content .transaction_details{
   padding: 0;
   margin-bottom: 20px;
   list-style: none;
}
.property_info .content .transaction_details i{
	margin-right: 10px;
}
.property_info .content .listed_on{
	text-align: center;
	color: rgb(75, 110, 210);
}
/*flex*/
.mls{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.mls p{
	margin: 0;
	color: #000;
	font-size: 14px;
	font-weight: bolder;
	width: auto;
}
.property_list > ul.list > li .transaction_info{

}
.property_list > ul.list > li .transaction_info .actions{
}
.transaction_info label{
	font-size: 18px;
}
.transaction_info .client_info{
	position: relative;
	font-weight: bolder;
}
.transaction_info .client_info:after{
	display: block;
	content: '';
	clear: both;
}
.transaction_info .client_info .img{
	border-radius: 50%;
	width: 140px;
	height: 140px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.transaction_info .client_info .img img{
	width: 100%;
	height: 100%;
}
.transaction_info .client_info .content{
	width: calc(100% - 160px);
    font-size: 14px;
    position: absolute;
    left: 160px;
    text-transform: capitalize;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}
.transaction_info .client_info .content .title{
	font-size: 18px;
	margin-bottom: 16px;
}
.transaction_info .client_info .sold{
	float: right;
	color: rgb(244, 24, 24);
}

.btn .caret{
	margin-left: 5px;
}
@media(max-width: 1199px){
	.property_info .content{
		width: 100%;
	}
}
@media(max-width: 991px){
	.property_list > ul.list > li{
		width: 100%;
	}
	.property_info .content{
		width: calc(100% - 285px);
	}
}
@media(max-width: 767px){
	.property_info .content{
		width: 100%;
	}
	.property_info .img{
		float: none;
		margin: 0 auto;
	}
}

/****************

	REVIEWS

****************/
.rating-container .caption{
	margin: 0;
}
.rating-container{
	font-size: 24px;
}
.agent-reviews .rating-container .caption{
	display: block;
}
.agent-reviews .rating-container .rating-stars{
	line-height: 1;
}
.agent-reviews .rating-container .filled-stars{
	text-shadow: none;
}
.agent-reviews .rating-container .star{
	margin-left: 0;
	color: #322d25;
}
.agent-reviews .rating-container .star + .star{
	margin-left: 3px;
}
.agent-reviews .rating-container .caption .label{
	background: none;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
 }
/*flex*/
.agent-reviews .rating .progress-group{
	color: #7a7a7a;
	margin-bottom: 7px;
	font-size: 14px;

	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;

	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;

	align-content: center;
	-webkit-align-content: center;
	-moz-flex-align: center;
}

.agent-reviews .rating .progress-group:after{
	display: block;
	content: '';
	clear: both;
}
.agent-reviews .rating .progress{
	float: left;
	width: 100%;
	max-width: 350px;
	margin-bottom: 0;
}

.agent-reviews .rating label{
	float: left;
	width: 50px;
	font-weight: 500;
	margin: 0;
	line-height: 22px;
}
.agent-reviews .rating .value{
	float: left;
	width: 40px;
	text-align: right;
	line-height: 22px;
	font-weight: 500;
}
.agent-reviews .reviews_container .written_by a{
	color: inherit;
}
.agent-reviews .reviews_container .written_by a:hover{
	text-decoration: underline;
}
