.error{
	justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;

    align-content: center;
    -webkit-align-content: center;
    -moz-flex-align: center;

    margin-top: 95px;
    min-height: calc(100vh - 520px);
    padding: 140px 0 270px;
}
.error .left_part{
	width: 100%;
	max-width: 660px;
	margin-bottom: 50px;
}
.error .left_part .error_code{
	font-size: 200px;
	color: rgba(243, 175, 61, 0.6);
	text-align: center;
}
.error .left_part .notification{
	font-size: 45px;
	color: rgba(0, 0, 0, 0.702);
	line-height: 1;
	text-align: center;
}
.error .left_part .notification .title{
	color: rgba(243, 175, 61, 0.6);	
	margin-bottom: 30px;
}
.error .left_part .notification .message{
	font-size: 25px;
	color: rgba(0, 0, 0, 0.502);
	margin-top: 30px;
}
.error .left_part .btn,
.error .left_part .btn:focus{
	display: block;
	margin: 44px auto 0;
	background-color: rgb(82, 168, 56);
	width: 273px;
  	height: 67px;
  	line-height: 67px;
  	text-align: center;
  	text-transform: uppercase;
  	color: #fff;
  	font-size: 25px;
  	outline: none;
  	padding: 0;
}
.error .left_part .btn:hover,
.error .left_part .btn:active,
.error .left_part .btn:active:focus{
	text-decoration: none;
	outline: none;
}
.error .right_part{
	width: 100%;
	max-width: 930px;
}
.error .right_part img{
	width: 100%;
	height: auto;
}
@media(max-width: 767px){
	.error{
		padding: 40px 0;
		margin: 0;
	}
	.error .left_part .error_code{
		font-size: 165px;
	}
}