/* style */
/* title: webSURGE Boiler Plate */
/* author: webSURGE */

body {
    background-color: white;
    color: #333333;
    font-family: 'Verdana', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 200;
    position: relative;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: 'Verdana', 'Georgia', 'Arial', sans-serif;
    font-weight: 700;
}
.wrap { position: relative; }
.fullwidth { width: 100%; }

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

#logo img {
    width: 100%;
    height: auto;
    padding-top: 8px;
}
.testimonial-thumb { float: left; margin-right: 1em; margin-bottom: 1em; }
iframe[name="google_conversion_frame"] { height: 0; display: block; }

#au-pagination { margin-top: 2em; }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-navigation-bar {
    position: absolute;
    z-index: 99;
    overflow: hidden;
}

#main-navigation-bar.sticky {
    position: fixed;
    width: 100%;
    top: 0px;
}

#main-navigation-bar .wrap { z-index: 50; }
#main-navigation-bar .menu-main-menu-container { float: right; }
#navigation ul{
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    text-align: right;

}
#navigation { position: relative; z-index: 99; height: 93px;}

/* floating the li elements to the left will make them read left-right instead of top-bottom like default */
#navigation ul li {
    display: inline-block;
}
#navigation ul li.get_matched a{
    position: relative;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    background-color: #61bb46;
    border-radius: 20px;
    padding: 0 10px;
}
#navigation ul li.get_matched a:hover{
    color: #333;
    background-color: #fff;
    text-decoration: none;
}
#navigation ul li.get_matched .match_count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #d00000;
    height: 16px;
    width: 16px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    z-index: 2;
    line-height: 16px;
    border-radius: 50%;
}
#navigation ul li .featured {
    background-repeat: no-repeat;
    background-size: cover;
}
#navigation ul li a {

    padding:10px;
    padding-bottom: 22px;
    text-align: center;

    color: white;

    text-decoration: none; /* removes hyperlink underline */

    display: block; /* treasts it like a textbox */

    font-size: .85em;

    font-weight: normal;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;

}

.dark-fade { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,.2); z-index: 25; }
.home .dark-fade, .quiz-display .dark-fade { display: none; }

#menu-item-19 { position: relative; }

/*
#menu-item-19:after { z-index: -1; content: ""; position: absolute; width: 100%; top: -40px; left: 0; height: 93px; 
background-color: #fbaf17;
background-image: url('../img/ultimate-checklist-highlight.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.page-hero, .cta-callout, .split-text-block {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center;
}


#searchsubmit { background: url('../img/mag-search.png') no-repeat; border: none; text-indent: -999999px; width: 25px; top: 3px; height: 25px; right: 10px; }
#s { position: relative; top: -3px; background: url('../img/search-fade.png'); width: 170px; border: none; height: 25px; color: #E5E5E5;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 13px;
    padding: 5px 45px 5px 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 13px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 13px;
}
#searchform { position: relative; display: inline-block; margin-left: .5em; height: 27px;}
#searchform label {
    position:absolute;
    top:-1500px;
    left:-1500px;
}
.menu-primary-container, #menu-primary { height: 100%; }

#menu-primary:before { content: ""; height: 100%; display: inline-block; vertical-align: bottom; }

#searchsubmit { position: absolute; }

#navigation ul li:hover { border-bottom: 2px solid #FFFFFF; margin-bottom: -2px; }

#navigation ul li.search:hover { border-bottom: none; }

#navigation ul li:hover > ul { display: block; }
#navigation ul li ul { display: none; margin: 0; position: absolute; }
#navigation ul li ul li { float: none; background-color: #53484A;}
#navigation ul li ul li a { font-size: .9em; text-align: left; }
#navigation ul li ul li a:hover { background-color: #786F71; }
#navigation ul li ul li ul { display: none; }
#navigation ul li ul li:hover ul {
    display: none;
}
#navigation ul li.get_matched:hover{
    border-bottom: none;
    margin-bottom: none;
}

#menu-home-launch-menu li a{
    float: left; width: 20%; margin: 2.5%;
    background-color: #ffcc00;
    padding: 24px 6px 8px ;
    text-align: center;
    border-radius: 12px;
    font-family: 'Droid Serif', 'Georgia';
    font-style: italic;
    text-decoration: none;
    color: #1b1b1b;
    background-image: url('../img/curly.png');
    background-repeat: no-repeat;
    background-position: center 25%;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;

}

h2 { font-size: 2em; }

.resource-display .twocol { text-align: center; }
.resource-display .twocol:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
#section-image { max-width: 100%; width: 150px; height: auto; display: inline-block; vertical-align: middle; }

.resource-display .section-image-content h2 { text-align: left; font-size: 1.75em; }

.metaslider .caption-wrap {
    opacity: 1 !important;
    font-size: 2.85em;
    text-align: center ;
    top: 36% !important;
    background-color: transparent !important;
    font-family: 'Merriweather', 'Georgia', sans-serif;
    text-shadow: 0 1px 1px #555;

}
.metaslider .caption {
    width: 960px;
    margin: 0 auto;
}

#intro-text {
    font-size: 1.25em;
}

.top-bar span { display: inline-block; margin: 0 .5em; }

#top-bar {
    overflow: hidden;
    position: relative;
    font-family: 'Merriweather', 'Georgia', 'Arial', sans-serif;

}
#top-bar #header-image img { width: 100%; height: auto;}
#top-bar #hero {
    position: absolute;
    z-index: 2;
    top: 0;
    padding-top: 54px;
}
#top-bar #hero h1, #top-bar #hero h2 {
    color: white;
    text-shadow: 0 0 8px #555;
    font-family: 'Merriweather', 'Georgia', 'Arial', sans-serif;
}

.callout {
    float: right;
    padding: 1em;
    margin: 0 1em 1em 1em;
    background-color: #ffffcc;
}
.callout ul { margin-left: 24px; list-style-type: disc; }


#footer { color: #555; text-align: center; }

.home h1 { display: none; }
.home .page-hero h1 { display: block; }

.page-hero, #background-bar, .quiz-display {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center top;
}

.quiz-display { background-position: center center; padding: 3em 0 6em !important; }

.page-hero .wrap {
    position: absolute;
    top: 10em;
    width: 100%;
    max-width: none;
}

.headingWrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#background-bar { position: absolute;
    top: -5px; left: -5px; bottom: -5px; right: -5px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.page-hero { position: relative; }

#hero-image { width: 100%; height: auto; display: block; }

#background-bar { overflow: hidden; }
#background-bar img { width: 100%; height: auto; }

.no-margin { margin: 0; }

.page-hero h1, .page-hero h2, .quiz-banner-display h2, .quiz-banner-display h3, .quiz-banner-display .section-content { margin: 0; color: #FFFFFF; }

.page-hero h2 {
    font-family: 'Playfair', 'Georgia', 'Arial', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.85em;
    margin-top: .15em;
}

.page-hero h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25em;
}

.quiz-banner-display h2 {
    font-family: 'Playfair', 'Georgia', 'Arial', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5em;
    margin-bottom: .25em;
}

.quiz-banner-display h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.75em;
}

.quiz-banner-display { position: relative; text-align: center; padding: 2.5em 0 3.5em; -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center center; }


.quiz-banner-display:before {
    content: "";
    background: url("../img/check-display.png") no-repeat center center;
    position: absolute;
    left: 50%;
    top: -80px;
    margin-left: -95px;
    width: 190px;
    height: 113px;
}

.quiz-banner-display .section-content { color: #605e5e; text-transform: uppercase; }

.quiz-display { text-align: center; padding: 3em 0; }
.quiz-display h1, .quiz-display h2, .quiz-display h3 { font-size: 2em; color: #FFFFFF; font-weight: 400; }

.quiz-display h3 { font-size: 1.45em; }

.quiz-display h2, .quiz-display h1 {
    text-transform: uppercase;
}

.quiz-display h3 { text-align: center; color: #343333; font-family: 'Playfair', 'Georgia', 'Arial', sans-serif; font-style: italic; margin-top: 2em; padding: 1em 0; line-height: normal; background: url("../img/AdvantageU-Quiz-Gradient.png") repeat-y center center; background-size: 100% auto; }

.rangeslider__handle { background: url('../img/quiz-slider-button.png') no-repeat center center !important; width: 197px !important; height: 196px !important; border: none !important; -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; top: -90px !important; }
.rangeslider__handle:after, .rangeslider__fill { display: none !important; }

.rangeslider--horizontal { background: url('../img/slider-bar.png') center center no-repeat !important; }

.rangeslider {
    margin-top: 8em !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
    border-radius: none !important;
}

.responsive-tabs .responsive-tabs__panel { background: none !important; border: none !important; }

.quiz-display .frm_primary_label { display: none !important; }

.frm_form_field { position: relative; max-width: 926px; margin: 0 auto; }

.frm_top_container:before, .frm_top_container:after, #frm_field_92_container .rangeslider:before { font-size: 1.3em; color: #FFFFFF; font-weight: bold; position: absolute; top: 4em; left: 0; padding: 0 0 0 1.5em; width: 160px; text-align: center; }

#frm_field_92_container .rangeslider:before { width: 100%; text-align: center; padding: 0; }

.frm_top_container:after { right: 0; left: auto; padding: 0 1.5em 0 0; }

#frm_field_88_container:before { content: "Not Really"; }
#frm_field_88_container:after { content: "Yes"; }

#frm_field_84_container:before { content: "Licensed Agent"; }
#frm_field_84_container:after { content: "Hands On"; }

#frm_field_90_container:before { content: "Not Well"; }
#frm_field_90_container:after { content: "Really Well"; }

#frm_field_92_container:before { content: "$0"; }
#frm_field_92_container .rangeslider:before { content: "$500,000"; }
#frm_field_92_container:after { content: "> $1 M"; }

#frm_field_98_container:before { content: "No"; }
#frm_field_98_container:after { content: "Yes"; }

.rangeslider:after { color: #FFFFFF; text-transform: uppercase; position: absolute; width: 100%; text-align: center; top: 180px; font-size: 1.4em; }

#frm_field_88_container .rangeslider:after { content: "Question 1 OF 5"; }
#frm_field_84_container .rangeslider:after { content: "Question 2 OF 5"; }
#frm_field_90_container .rangeslider:after { content: "Question 3 OF 5"; }
#frm_field_92_container .rangeslider:after { content: "Question 4 OF 5"; }
#frm_field_98_container .rangeslider:after { content: "Question 5 OF 5"; }

.responsive-tabs__list__item { position: static !important; }
.responsive-tabs__list__item:before, .responsive-tabs__list__item:after { z-index: 99; content:"Previous"; background: red; display: none; height: 100px; width: 100px; position: absolute; left: 0px; }

.responsive-tabs__list__item:after { content:"Next"; right: 0px; left: auto; }

#value-tracker { text-align: center; color: #f8ae33; text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); font-weight: 700; font-size: 2em;
    position: relative;
    top: -0.5em; }

.responsive-tabs .responsive-tabs__panel { background: none; border: none; }

.responsive-tabs__list { width: 100%; bottom: 0; text-align: center; position: absolute; }
.responsive-tabs__list li { display: inline-block !important; float: none !important; }

.responsive-tabs .responsive-tabs__list__item { width: 33px !important; height: 33px !important; }
.responsive-tabs .responsive-tabs__list__item { background: url('../img/quiz-dot-2.png') !important; text-indent: -99999px; }
.responsive-tabs .responsive-tabs__list__item--active { border: none !important; background: url('../img/quiz-dot-selected.png') !important; }

.acf-row { padding: 4em 0; }
.roadmap-display h2 { font-size: 2em; text-transform: uppercase; }

.roadmap-display h2, .roadmap-display h3 { color: #FFFFFF; margin: 0; font-weight: 300; text-align: center; }

.roadmap-display h3 { font-family: 'Playfair', 'Georgia', 'Arial', sans-serif; font-style: italic; font-size: 1.6em; margin-top: .5em; }

#roadmapImage { width: 100%; height: auto; display: block; }

#roadmapContainer { position: relative; }

.roadmap-sib { width: 9.305%; height: 18.722%; z-index: 75; cursor: pointer; }
.roadmap-item { width: 9.305%; height: 18.722%; color: #5b5b5b; font-size: 1em; opacity: 0; -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out; }
.responsive-tabs ul.responsive-tabs__list { margin-left: 0 !important; }
.roadmap-sib:hover + .roadmap-item {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.roadmap-item img { width: 100%; height: auto; position: relative;
    display: block;
    z-index: 50;  }
.roadmap-content { width: 242%; transform: translateX(-50%); position: absolute; left: 50%; padding: 130% 25% 15%;
    top: -15%; text-align: center; background: url('../img/fade.png');   -webkit-border-radius: 5%;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5%;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5%;   -moz-box-shadow:    5px 5px 10px #000000;
    -webkit-box-shadow: 5px 5px 10px #000000;
    box-shadow:         5px 5px 10px #000000; }

.bot-bord { border-bottom: 10px solid #FFFFFF; }

.heading-wrap { width: 66.6666%; margin: 0 auto; }
.info-graphic-callout h2 { color: #FFFFFF; font-weight: 400; }
.info-graphic-callout { -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center center; padding: 2em 0 26em;}

.text-callout {
    z-index: 10;
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
}
.text-callout a:active { color: #FFFFFF; }

#frm_form_19_container #submit-page-right-sub { margin-top: 0; }

.page-id-7 #quiz-box, .page-id-946 #quiz-box { padding-bottom: 4em !important; }

.text-block.no-pad { padding: 0; }

.text-callout a { text-decoration: none; font-size: 1.2em; line-height: normal; text-transform: uppercase; z-index: 50; display: inline-block; width: 270px; height: 60px; color: #FFFFFF; background: #fbaf17; position: absolute; bottom: -30px; -webkit-border-radius: 30px;  left: 50%; margin-left: -135px; font-weight: 600; text-align: center;

    /* Firefox 1-3.6 */
    -moz-border-radius: 30px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 30px;  }
.text-callout a:hover { color: #FFFFFF; }
.text-callout h3 { font-size: 2.2em; font-weight: 400; text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); margin: 0; }

.text-callout h3 strong { color: #fbaf17; }

.text-callout a:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }

.text-callout .wrap { position: static; }

.text-callout { border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; }

.text-callout.acf-row { padding: 3.5em 0; }

.text-callout .wrap { z-index: 50; }

.text-callout::before, .text-callout::after {
    z-index: -5;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 50%;
    background: #777;
    -webkit-box-shadow: 0 15px 20px #777;
    -moz-box-shadow: 0 15px 20px #777;
    box-shadow: 0 15px 20px #777;
    -webkit-transform: rotate(-2.5deg);
    -moz-transform: rotate(-2.5deg);
    -o-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
    transform: rotate(-2.5deg);
}

.back-cover { z-index: -1; position: absolute; width: 100%; height: 100%; 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center center; top: 0; left: 0; border-bottom: 1px solid #FFFFFF; }
.text-callout::after {-webkit-transform: rotate(2.5deg);-moz-transform: rotate(2.5deg);-o-transform: rotate(2.5deg);-ms-transform: rotate(2.5deg);transform: rotate(2.5deg);right: 10px;left: auto;}

.resource-display { position: relative; z-index: 50; background-size: 100% auto; background-repeat: no-repeat; background-position: center bottom; }

.resource-display h2, .resource-display h3 { text-align: center; font-weight: 400; margin: 0; margin-top: .5em; }

.resource-display h2 { text-transform: uppercase; }

.resource-display h3 { font-family: 'Playfair', 'Georgia', 'Arial', sans-serif; font-style: italic; font-size: 1.5em; margin-bottom: 2em; }

.resource-display .wrap > .fourcol { padding-top: 1em; }
.resource-display .fourcol { border-top: 1px solid #cccccc; }
.resource-display .fourcol .fourcol { border: none; }
.resource-display h4 { color: #fbaf17; margin: 0; font-size: .9em; }

.resource-display .fourcol img { max-width: 100%; height: auto; }

.resource-display .fourcol .eightcol { height: 103px; overflow: hidden; }

.single img { max-width: 100%; height: auto; }

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.single h1 { font-size: 3em; max-width: 1000px; margin: 0 auto; position: relative; z-index: 50; }

.single .text-block h2, .single .text-block h3 { color: #333333; text-align: left; }

.single #main-navigation-bar.sticky, .blog #main-navigation-bar.sticky { background: #333333; }
.blog .resource-display .fourcol { margin-bottom: 1em; }
.single .page-hero:after { content: ""; background: url('../img/dark-fade-2.png'); width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.resource-display a:active, .resource-display a:hover { color: #fbaf17; }

.resource-display a { color: #fbaf17; }

.resource-display a.linkButton { color: #FFFFFF; }

.triple-cta.resource-display .fourcol a { color: #FFFFFF; }

.resource-display .section-content { color: #848383; font-size: .85em; margin-top: .75em; }

.linkButton { cursor: pointer; text-decoration: none; color: #FFFFFF; display: inline-block; background: #fbaf17; text-transform: uppercase; font-weight: 700; height: 60px; -moz-border-radius: 30px;
    border-radius: 30px; width: 270px; font-size: 1.2em; vertical-align: middle;}

.linkButton::before {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}

.linkButton:visited, .linkButton:hover, .linkButton:active, .linkButton:focus { color: #FFFFFF !important; }

.testimonial-display h2 { font-style: italic; font-size: 1.5em; text-align: center; margin: 0; font-weight: 400; font-family: 'Playfair', 'Georgia', 'Arial', sans-serif; }

.testimonial-display h2.testimonial-name { font-weight: 700; margin-top: .5em; }

.split-text-block h3 { margin-bottom: 1em; }
.split-text-block .sixcol { color: #6d6e70; }
.split-text-block .sixcol strong { color: #3f3f40; }

#footer { color: #FFFFFF; background-image: url('../img/AdvantageU-Footer.jpg'); background-position: center center;  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

#footer img { width: 300px; height: auto; }

#footer h2, #footer p { margin: 0; }

#footer p { font-size: .9em; }

#footer h2 { font-weight: 400; font-size: 3.2em; line-height: normal; margin-top: .4em; margin-bottom: .25em; }

.socItem { float: left; width: 25%; text-align: center; padding: .75em 0; }

.socItem img { max-height: 25px; width: auto; display: block; margin: 0 auto; }

#page-heading { font-size: 5em; text-transform: none; text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); }

.text-block .wrap { background: #FFFFFF; }
.text-block h2, .four-image-display h2 { color: #fbaf17; margin-top: 0; }
.page-id-7 .acf-row-1, .page-id-9 .acf-row-1, .page-id-11 .acf-row-1, .blog .acf-row-1, .single .acf-row-1, .page-id-15 .acf-row-1, .post-type-archive-testimonial .acf-row-1, .post-type-archive-featured-agent .acf-row-1, .search .acf-row-1 { margin-top: -14.5em; }

.search h4 { margin-top: 2em; }
.search h4 a, .search h4 a:hover { color: #333333; }

.search .acf-row-1 p { color: #848383; }

.search a, .search a:hover { color: #fbaf17; font-weight: bold; text-decoration: none; }

.post-type-archive-testimonial p { font-style: italic; }
.post-type-archive-testimonial h4 { color: #333333; }

.testimonial-single { border-top: 1px solid #CCCCCC; margin-top: 1em; }

.page-id-15 #roadmapContainer { display: none; }

.page-id-15 .roadmap-display {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    padding: 15em 0;
}

.text-block .wrap, .four-image-display .wrap, .wrap.close-wrap { max-width: 1000px; padding: 0 3em; }

.acf-row-1.text-block .wrap { padding-top: 2em; }

.acf-row-1.text-block > .wrap { border-top: 5px solid #61bb46; }

.text-block p { font-size: 1em; }

.text-block h2 { margin-bottom: 1em; }

.four-image-display img { max-width: 100%; height: auto; display: block; }

.four-image-display h2 { margin-bottom: 2em; }

.text-block h2 em, .four-image-display h2 em, .standalone-heading h2 em, .cta-callout h2 em { text-transform: none; color: #6e6e6e; font-family: 'Playfair', 'Georgia', 'Arial', sans-serif; }

.four-image-display { padding-top: 0; }

.no-bottom-pad { padding-bottom: 0; }
.no-top-pad { padding-top: 0; }

.shadowed {
    -webkit-filter: drop-shadow(4px 4px 4px #666666);
    filter: drop-shadow(4px 4px 4px #666666);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#ccc')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#ccc')";
}

.column-item img { padding-left: 20%; max-width: 100%; height: auto; }

.four-column-display { text-align: center; }
.four-column-display .threecol { padding: 0 1em; }
.four-column-display .threecol img { max-width: 100%; height: auto; }
.column-item { width: 20%; float: left; text-align: center; padding: 0 1em; }

h5 {
    margin: 0px;
    font-size: 1.6em;
    line-height: normal;
    margin-top: 1em;
    color: #4f4f4f;
}
.multi-columns h2 { margin-bottom: 2em; }
.column-item p, .four-column-display .threecol p { margin: 0; font-size: .86em; margin-top: .75em; }


#submit-page-right-sub, #submit-page-sub { background: none !important; margin: 0; padding: 0; color: #FFFFFF; }

#submit-page-right-sub { font-weight: 700; text-align: left; margin-top: 3.75em; }

#submit-page-heading { margin-top: 0; text-align: left; }

#submit-page-desc { color: #FFFFFF; font-size: .9em; margin: 0; }

#submit-devices { position: absolute; left: 0; bottom: -4em; max-width: 450px; height: auto; }

#frm_form_2_container #submit-devices { position: relative; bottom: auto; }

#frm_form_2_container #submit-page-right-sub { margin-top: 1em; }

#frm_form_2_container .email-section { margin-top: 0; }

#frm_form_2_container .frm_page_num_2 .submit-contain {
    position: absolute;
    top: 18em;
}

#frm_form_2_container #checklist-selection { margin-top: 0; }

#checklist-selection .checkcol .select-contain::before {
    position: absolute;
    height: 100%;
    content: "";
    border-right: 1px solid #CCCCCC;
    left: -8.5%;
    bottom: 0;
}

#frm_field_206_container h3 { background: none; color: #FFFFFF; margin: 0; padding: 2em 0 0; }

#checklist-selection .checkcol.first .select-contain::before { display: none; }

.checkcol { width: 17.7900552488%; float: left; margin-left: 2.762430939%; }

.checkcol.first { margin-left: 0; }
.checkcol.last { float: right; }

.checkcolWide { width: 39%; float: right; position: relative; }

.checkcolWide .checkcol { width: 48.618784527%; }

#quiz-box { position: relative; }

.quiz-display .dark-fade { z-index: 5; }
.quiz-display .wrap { z-index: 25; }
.quiz-display .sixcol { position: static; }

.frm_form_fields.frm_page_num_2 { padding: 0; }

.page-id-395 #quiz-box { padding-top: 7em; }

.page-id-395 .frm_submit { margin-top: -5em; }

.page-id-395 .frm_style_formidable-style.with_frm_style input[type="submit"], #frm_form_19_container.frm_style_formidable-style.with_frm_style input[type="submit"], .frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="submit"], .frm_style_formidable-style.with_frm_style .frm_page_num_1 input[type="submit"], .blog .frm_style_formidable-style.with_frm_style input[type="submit"], .post-type-archive-testimonial .frm_style_formidable-style.with_frm_style input[type="submit"], .single .frm_style_formidable-style.with_frm_style input[type="submit"], .cta-callout .frm_style_formidable-style.with_frm_style input[type="submit"], .download-link {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    background: #fbaf17;
    text-transform: uppercase;
    font-weight: 700;
    height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 230px;
    font-size: 1.2em;
    position: relative;
    z-index: 50;
    border: none;
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.download-link { color: #FFFFFF !important; text-align: center; line-height: 60px; font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif; }
#frm_field_214_container { display: inline-block; top: -140px; width: 75%; }
#frm_form_20_container .submit-contain { display: none; }
.page-id-15 .frm_style_formidable-style.with_frm_style input[type="submit"] {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    background: #fbaf17;
    text-transform: uppercase;
    font-weight: 700;
    height: 60px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 230px;
    font-size: 1.2em;
    position: relative;
    z-index: 50;
    border: none;
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.page-id-15 label { display: none !important; }

.page-id-15 .frm_form_field { max-width: none; }

.page-id-15 .cta-callout h2 { margin-bottom: 1em; }

.blog .frm_submit, .page-id-15 .frm_submit, .single .frm_submit, .post-type-archive-testimonial .frm_submit, .cta-callout .frm_submit { width: 100%; position: absolute; text-align: center; bottom: -6.75em; }

.search .frm_page_num_1 { margin-bottom: 0 !important; padding: 0 !important; }

.search .frm_page_num_1 .frm_submit { top: auto; }

.single iframe { display: block; margin: 0 auto; }

.page-id-15 .frm_submit { bottom: -7.75em; }
#tablist1-tab5 { margin-right: 0; }

.email-section { margin-top: 2em; }

.frm_page_num_1 .frm_submit {
    display: none;
    left: .5em;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 530px;
}

.resource-display .fourcol img { max-width: 100%; height: auto; }

.post-type-archive-featured-agent .agent-item { border: none; padding: 2em; }

.post-type-archive-featured-agent .agent-item div { text-align: center; padding: 1em; background: #FFFFFF; position: relative; border: 1px solid #CCCCCC; cursor: pointer; height: 300px; width: 300px; }
.agent-item > div { margin: 0 auto; }
.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 39px;
    height: 62px;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.agent-single h3 { text-align: left; margin-bottom: 1em; }

#select-agent-cta { position: relative; }

#select-agent-cta .frm_submit { bottom: -40px; font-size: .9em; }

#select-agent-cta .frm_message { text-align: center; }

.jcarousel-prev {
    left: 0px;
}
.jcarousel-next { right: 0px; }
.post-type-archive-featured-agent .agent-item div span { display: block; height: 100%; }
.post-type-archive-featured-agent .agent-item div span:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }

.post-type-archive-featured-agent .agent-item div img { min-width: 75%; display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; width: auto; height: auto; }

.agent-single { display: none; margin-top: 2em; }
.agent-single.active { display: block; }

.post-type-archive-featured-agent .agent-item.active { background: #dcf0d5; }

.post-type-archive-featured-agent .agent-item div::before, .post-type-archive-featured-agent .agent-item div::after {
    z-index: -5;
    position: absolute;
    content: "";
    bottom: 20px;
    left: 10px;
    width: 50%;
    top: 85%;
    max-width: 50%;
    background: #777;
    -webkit-box-shadow: 0 15px 20px #777;
    -moz-box-shadow: 0 15px 20px #777;
    box-shadow: 0 15px 20px #777;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.post-type-archive-featured-agent .agent-item div::after {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    right: 10px;
    left: auto;
}

#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message { color: #5e5d5d; border: none; background: none; }

#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message a { display: inline-block; margin-bottom: 1em; }
#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message h5 { margin-top: 0; margin-bottom: 1em; }
#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message h2 { font-size: 6em; text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); }

#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message .fourcol { padding: 2em; -moz-box-shadow: 1px 1px 5px #666666;
    -webkit-box-shadow: 1px 1px 5px #666666;
    box-shadow:         1px 1px 5px #666666; background: #FFFFFF; border-radius: 15px; }
#frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message img { max-width: 100%; height: auto; }

.frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="submit"]:hover { background: #fbaf17 !important; }

.frm_page_num_2 .frm_form_field.frm_top_container.form-field { width: 100%; max-width: none; }

/* .frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="email"]:focus {} */

#frm_form_19_container.frm_style_formidable-style.with_frm_style input[type="text"], #frm_form_19_container.frm_style_formidable-style.with_frm_style input[type="email"], .frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="email"], .frm_style_formidable-style.with_frm_style .frm_page_num_2 #field_eqna4, #frm_form_15_container.frm_style_formidable-style.with_frm_style input[type="text"], #frm_form_15_container.frm_style_formidable-style.with_frm_style input[type="tel"], #frm_form_15_container.frm_style_formidable-style.with_frm_style textarea, .blog .frm_style_formidable-style.with_frm_style input[type="email"], .single .frm_style_formidable-style.with_frm_style input[type="email"], .page-id-15 .frm_style_formidable-style.with_frm_style input[type="email"], .page-id-15 .frm_style_formidable-style.with_frm_style input[type="tel"], .page-id-15 .frm_style_formidable-style.with_frm_style input[type="text"], .post-type-archive-testimonial .frm_style_formidable-style.with_frm_style input[type="email"], .frm_style_formidable-style.with_frm_style #field_x9f3s9, .cta-callout .frm_style_formidable-style.with_frm_style input[type="email"], .agent-popup .frm_style_formidable-style.with_frm_style input[type="text"] {
    background: url('../img/search-fade.png') !important;
    width: 100%;
    border: none;
    height: 63px;
    padding: 3px 15px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #252525;
    margin-top: 15px;
}

.split-text-block img { max-width: 100%; height: auto; }

#frm_form_15_container.frm_style_formidable-style.with_frm_style textarea { padding: 1.25em 1em; height: 106px !important; font-size: .85em; }

::-webkit-input-placeholder { /* Chrome */
    color: #595959;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #595959;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #595959;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #595959;
    opacity: 1;
}

#frm_field_100_container, #frm_field_165_container, #frm_field_181_container, #frm_field_182_container { width: 45%; display: inline-block; }
#frm_field_165_container, #frm_field_182_container { margin-left: 5%; }

#frm_form_19_container .email-section { margin-top: 1em; }

#frm_form_19_container .submit-contain { margin-top: 1.25em; }

#frm_field_161_container, #frm_field_168_container { margin-top: 1em; }
#frm_form_15_container.frm_style_formidable-style.with_frm_style textarea { height: auto; }

.frm_page_num_2 .submit-contain {
    position: relative;
    top: -5.5em;
}

.page-template-template-landing-page-php #main-navigation-bar, .page-template-template-landing-page-php #hero-image, .page-template-template-landing-page-php #footer { display: none; }

.page-template-template-landing-page-php .page-hero:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../img/dark-fade-2.png'); }

.page-template-template-landing-page-php .page-hero {
    height: 250px;
}

.page-template-template-landing-page-php .page-hero .wrap {
    top: 3.5em;
    font-size: 1.75em;
}
.page-template-template-landing-page-php h1 { position: relative; }
.page-template-template-landing-page-php h1 img { width: 300px; height: auto; position: absolute; left: 0; top: -90px; }

.page-template-template-landing-page-php .text-callout { padding: 1em 0; }

.page-template-template-landing-page-php .page-hero .wrap { max-width: 1150px; margin: 0 auto; position: relative; }

.page-template-template-landing-page-php #quiz-box { border: none; }

#landing-footer { padding: 1.5em 0 2em; border-top: 1px solid #CCCCCC; }
#landing-footer .sixcol.last { text-align: right; }
#landing-footer h2, #landing-footer p { margin: 0; color: #747474; }

#checklist-selection { margin-top: 2em; text-align: center; text-transform: uppercase; color: #FFFFFF; }
#checklist-selection .threecol { padding: 0 .75em; }

#frm_field_102_container { margin: 0 !important; }

.frm_style_formidable-style.with_frm_style fieldset { padding: 0 !important; }

.frm_page_num_1.frm_form_fields  { padding-bottom: 6em; margin-bottom: 2em; }

.select-contain { position: relative; }
#checklist-selection .threecol .select-contain:before { position: absolute; height: 100%; content: ""; border-right: 1px solid #CCCCCC; left: -12.5%; bottom: 0; }

#checklist-selection .threecol.first .select-contain:before { display: none; }

.select-heading { font-weight: 700; }
.select-item {
    position: relative;
    cursor: pointer;
    margin-top: .5em;
    background: #a1a1a1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: .75em 0;
}

.select-item:hover { background: #bababa; }

.select-item.selected, .select-item.selected:hover { background: #f8ae33; }

#other-short-sale, #other-commercial, #other-multi-family, #other-rental, #other-apartments, #other-land { opacity: .4; }

#other-short-sale:hover, #other-commercial:hover, #other-multi-family:hover, #other-rental:hover, #other-apartments:hover, #other-land:hover { background: #a1a1a1; }

.standalone-heading { background: url('../img/heading-back.jpg');   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1em 0;
}

.headingContainer { display: inline-block; }
.standalone-heading h2 { font-size: 2.2em; vertical-align: middle; margin: 0; display: inline-block; line-height: 70px; color: #FFFFFF; }
.standalone-heading .wrap { text-align: center; }
.standalone-heading img { width: auto; height: 70px; display: inline-block; float: left; margin-right: .5em; }
.standalone-heading h2 em, .cta-callout h2 em { color: #303030; }

.cta-callout h2 { margin-top: 0; font-size: 1.75em; }

#frm_form_15_container .frm_submit { display: block !important; }

#frm_form_15_container .frm_page_num_1.frm_form_fields { margin-bottom: 0; }

#frm_form_15_container .frm_page_num_1 .frm_submit { bottom: 0; top: auto; }
#frm_field_152_container { max-width: none; }
#frm_form_15_container .frm_page_num_1.frm_form_fields {
    padding-bottom: 0em;
}

#frm_form_15_container h4 { margin: 0; color: #FFFFFF; font-weight: 400; font-size: 1em; }

#frm_field_157_container h2 { margin: 0; }

#frm_field_157_container { margin: 0; margin-bottom: 12px; }

#frm_field_159_container, #frm_field_160_container { margin-bottom: 10px; }

#frm_form_15_container .frm_checkbox label { color: #FFFFFF; }

.cta-callout .sixcol h2 { color: #FFFFFF; }

.cta-callout .sixcol .linkButton { background: #60cc3c; }

.cta-callout .sixcol div { margin-top: .65em !important; }

.short-col { float: none; display: inline-block; margin: 0 1em; }

.lift-col { margin-top: -6em; }

/* skipping for now
.page-id-11 .standalone-heading.acf-row-4 img { display: none; }
.page-id-11 .standalone-heading.acf-row-4 h2 { font-size: 1.8em; line-height: 1.5; }
*/

.triple-cta, .blog .thumb {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}

.triple-cta .fourcol { text-align: center; border: none; }

.triple-cta h2 { margin: 0 0 4em; }
.triple-cta .linkButton {
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.blog h3, .post-type-archive-testimonial h3 { margin-bottom: 0; }

.blog .fourcol { border: none; padding: 1em; -moz-box-shadow: 1px 1px 5px #666666;
    -webkit-box-shadow: 1px 1px 5px #666666;
    box-shadow:         1px 1px 5px #666666; }

.blog h4 { font-size: .75em; margin-top: 1em; color: #101010; text-align: center; }

.blog .fourcol a { color: #101010 !important; }

.blog .thumb { height: 200px; background-position: center center; }

#frm_field_161_container label, #frm_field_168_container label { display: none; }

.cycle-slide { right: 0; }



.rotating-check:before { width: 30px; height: 30px; content: ""; position: absolute; left: 0px; top: 50%; margin-top: -15px; background: url('../img/checkbox.png') no-repeat center left; }



.rotating-check { position: relative; color: #FFFFFF; padding: 25px 0 25px 55px; display: inline-block; margin: 0; }

.page-hero .jcarousel li img { display: none; position: absolute; top: 50%; margin-top: -24px; left: 2px; z-index: 75; }
.page-hero .jcarousel li.target img { display: block; }
/** Carousel **/
.caro-wrap { height: 400px; overflow:hidden; margin-top: 1.5em; }
.jcarousel {
    margin: 6em auto 0;
    position: relative;
    left: 50px;
    width: 550px;
    height: 400px;
    text-align: left;
}

.jcarousel img {
    display: block;
}

.jcarousel ul {
    width: 100%;
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-hero .jcarousel li {
    position: relative;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

.page-hero .jcarousel li.target {
    left: -.5em;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
    font-size: 1.3em;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

.top-bar { background: #4f5a60; text-align: right; color: #FFFFFF; padding: 0; position: relative;
    z-index: 100; line-height: 34px; }
.top-bar .dropdown-menu{
    background-color: #4f5a60;
    border: none;
    border-radius: 0;
    margin: 0;
}
.top-bar .dropdown-menu > li > a{
    color: #fff;
}
.top-bar .dropdown-menu > li > a i{
    margin-right: 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #4f5a60;
}
.top-bar a, .top-bar a:hover, .top-bar a:active, .top-bar a:focus, .top-bar a:active:focus { text-transform: uppercase; color: #FFFFFF; text-decoration: none; }

.lux, .stand { width: 130%; text-align: left; display: none; position: absolute; top: -33.3333%; left: 75%; z-index: 75;
    opacity: .9; background: #f2e6cf; border: 1px solid #FFFFFF; 	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5); color: #767473; text-transform: none; padding: 1em; font-size: .65em;   /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px; z-index: 50;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px; }

.triple-cta .lux { width: 180px; top: -65%; left: 50%; margin-left: -90px; text-align: center; padding-left: 40px; padding-right: 40px; border-radius: 0; background: #FFFFFF; box-shadow: none; padding-top: .5em; padding-bottom: .5em; }

.triple-cta .fourcol:hover > .lux { display: block; }

.select-item:hover .lux { display: block; }

.search-results #page-heading { font-size: 3em; }

.lux::before {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    z-index: -1;
    top: 20%;
    background: inherit;
}
.lux::before {
    left: 0;
    width: 25px;
    height: 25px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.lux::before {
    position: absolute;
    content: '';
    pointer-events: none;
}

.triple-cta .lux img { position: absolute; width: 25px; height: 24px; left: 10px; top: 50%; margin-top: -12px; }

.triple-cta .lux::before { left: 50%; width: 24px; height: 24px; bottom: -12px; top: auto; }

.quiz-top-bar { background: #70c359; color: #FFFFFF; }
.quiz-top-bar .wrap { position: relative; height: 69px; padding: .75em 0; }
.quiz-top-bar h2 { margin: 0; font-weight: normal; padding-left: 85px; }

.quiz-top-bar img { height: 69px; width: 72px; position: absolute; left: 0; top: 0; display: block; }

.agent-popup { -moz-box-shadow: 1px 1px 5px #666666;
    -webkit-box-shadow: 1px 1px 5px #666666;
    box-shadow:         1px 1px 5px #666666; background: #FFFFFF; border: #acacac solid 10px; display: none; opacity: 0; z-index: 50; position: absolute; top: 50%; margin-top: -200px; left: 0; width: 100%;       -webkit-transition: all .5s; /* Safari */
    transition: all .5s; }
.agent-popup .fivecol { background: #94d57d; }

#popup-close { position: absolute; top: 1em; right: 1em; cursor: pointer; display: block; width: 50px; height: 50px; }

.agent-popup .fivecol, .agent-popup .sevencol { height: 350px; padding: 3em 2em; margin: 0; }

.agent-popup .fivecol { width: 42%; text-align: center; color: #5b5b5b; padding-top: 4em; padding-left: 4em; padding-right: 4em; }

.cta-callout .agent-popup .frm_submit { bottom: auto; position: relative; top: auto; }

.agent-popup .fivecol span { font-size: 1.5em; }

.agent-popup .sevencol { width: 58%; }

.agent-popup .frm_style_formidable-style.with_frm_style .frm_page_num_1 input[type="submit"] { margin-top: 1em; background: #FFFFFF; color: #5b5b5b; }

.agent-popup .frm_style_formidable-style.with_frm_style .frm_page_num_1 input[type="submit"]:hover { background: #fbaf17; color: #FFFFFF; }

.download-link:hover { background: #FFFFFF !important; color: #333333 !important; }

.agent-popup .frm_page_num_1.frm_form_fields { padding: 0; margin: 0; }

.agent-popup .frm_page_num_1 .frm_submit { display: block; }

.agent-popup .frm_style_formidable-style.with_frm_style input[type="text"], .agent-popup .frm_style_formidable-style.with_frm_style input[type="email"] { background: #d7d7d7 !important; }

#menu-item-416, #menu-item-417 { display: none !important; }

.responsive-tabs__list { left: 0; }

#frm_field_149_container h4, #frm_field_145_container h4 { margin-bottom: .5em; }

.anchor{
    display: block;
    height: 93px; /*same height as header*/
    margin-top: -93px; /*same height as header*/
    visibility: hidden;
}
.single .page-hero { height: 600px; overflow: hidden; }

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel-agent {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel-agent .agent-caro-container {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel-agent .agent-item {
    /* Required only for block elements like <li>'s */
    width: 383px;
    float: left;
}

.anchor {   display: block;
    height: 95px; /*same height as header*/
    margin-top: -95px; /*same height as header*/
    visibility: hidden; }

.author .page-hero { height: 95px; overflow: hidden; }

.agent-profile { border-top: 25px solid #61bb46; padding: 2em 0; background: #FFFFFF; }

#agent-thumb { width: 100%; height: auto; }

.agent-heading-info:before { display: inline-block; vertical-align: middle; height: 100%; content: ""; }

#agent-heading, .advantageu-info h2 { text-transform: uppercase; display: inline-block; font-size: 1.6em; vertical-align: middle; font-weight: 400; margin: 0 1em 0 0; }

.advantageu-info h2 { margin: inherit; display: block; }

#agent-cert-logo { display: inline-block; vertical-align: middle; }

.agent-profile .linkButton { text-align: center; margin-top: 2em; -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1); }

.agent-profile .linkButton:hover { background: #FFFFFF; color: #333333 !important; border: 1px solid #cccccc; }

.advantageu-info .wrap { border-top: 1px solid #cccccc; margin-top: 2em; }

.advantageu-info ul { margin-left: 1em; }
.advantageu-info li { list-style-type: disc; }

.agent-single .linkButton { text-align: center; margin-top: 1em; }

@media only screen and (min-width: 1426px) {
    .page-hero { height: 600px; overflow: hidden; }
}

@media only screen and (max-width: 1170px) {
    .anchor{
        height: 75px; /*same height as header*/
        margin-top: -75px; /*same height as header*/
    }
    .home .dark-fade { display: block; }
    .wrap { padding: 0 1em; }
    #logo-bar { height: 75px !important; }
    #navigation { margin-left: 0; width: 77.071823199%;}
    #logo img {
        width: auto;
        max-height: 100%;
        max-width: 100%;
        height: auto;
    }
    #logo { height: 100%; }
    .page-hero .wrap {
        top: 6.5em;
    }

    .page-hero h1 {
        font-size: 1.75em;
    }
    .page-hero h2 { font-size: 1.3em; }

    .page-hero { height: 530px; overflow: hidden; }
    #hero-image {
        width: auto;
        height: 100%;
    }
    .quiz-display h2, .quiz-display h3, .quiz-display h1 {
        font-size: 1.5em;
    }
    .frm_top_container::after {
        padding: 0 .75em 0 0;
    }
    .frm_top_container::before {
        padding: 0 0 0 .75em;
    }

    #submit-devices { max-width: 50%; height: auto; }
    .frm_page_num_2 #submit-devices { max-width: 100%; }
    .frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="email"], .frm_style_formidable-style.with_frm_style .frm_page_num_2 #field_eqna4 { margin-top: 0; }

    .select-heading {
        font-weight: normal;
        font-size: .7em;
    }

    .select-item { font-size: .8em; }
    .roadmap-display h2 {
        font-size: 1.6em;
    }
    .roadmap-display h3 { font-size: 1.45em; }
    .info-graphic-callout { padding-bottom: 23em; }
    .info-graphic-callout h2 { margin: 0; text-align: right; }

    .info-graphic-callout p{
        text-align: right;
        width: 50%;
        float: right;
    }
    .text-callout h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .text-callout a {
        width: 220px;
        margin-left: -110px;
        font-size: 1em;
    }
    h2 {
        font-size: 1.5em;
    }
    .resource-display .fourcol .eightcol { height: 100px; overflow: hidden; }
    .resource-display .fourcol .eightcol, .resource-display .fourcol .fourcol { float: none; margin: 0; width: 100%; }
    .resource-display .fourcol .fourcol { margin-top: 1em; }

    .testimonial-display .cycle-slide {
        font-size: .7em;
    }
    .text-callout.acf-row {
        padding: 2.5em 0;
    }

    .four-column-display .threecol {
        padding: 0;
    }
    h5 {
        font-size: .95em;
    }
    #frm_form_15_container h4 { font-size: .75em; }
    #frm_field_158_container h4 { font-size: .75em !important; }

    #frm_field_144_container .frm_checkbox label, #frm_field_145_container .frm_checkbox label { font-size: 11px !important; }

    #frm_form_15_container.frm_style_formidable-style.with_frm_style input[type="text"], #frm_form_15_container.frm_style_formidable-style.with_frm_style input[type="tel"], #frm_form_15_container.frm_style_formidable-style.with_frm_style input[type="email"] { height: 52px; }
    .cta-callout h2 { font-size: 1em; }
    .cta-callout { padding: 2em 0; }
    .cta-callout .sixcol.last div { margin-top: 0 !important; }
    .agent-popup .fivecol span {
        font-size: 1em;
    }
    .cta-callout .agent-popup .frm_style_formidable-style.with_frm_style input[type="submit"] { width: 100%; }
    #page-heading {
        font-size: 5.5em;
    }
    element {background-image: url("");}.page-id-7 .acf-row-1, .page-id-9 .acf-row-1, .page-id-11 .acf-row-1, .blog .acf-row-1, .single .acf-row-1, .page-id-15 .acf-row-1, .post-type-archive-testimonial .acf-row-1, .post-type-archive-featured-agent .acf-row-1, .search .acf-row-1 {margin-top: -13.5em;}
    .triple-cta .linkButton { width: 100%; }

    .cta-callout .frm_submit {
        bottom: -4.75em;
    }

    .quiz-top-bar {
        border-top: 1px solid #5d544e;
    }
    .cta-callout h2 em, .cta-callout h2 span { font-size: 1.5em; }
}

@media only screen and (max-width: 768px) {

    #navigation ul{
        position: absolute;
        top: 100%;
        width: 100%;
        padding-bottom: 10px;
        background-color: rgba(0,0,0,.8);
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    #navigation ul li{
        display: block;
        width: 100%;
    }
    #navigation ul li.get_matched .match_count{
        right: 0;
    }
    .dark-fade{
        background: rgba(0,0,0,.8);
    }
    #navigation ul.open{
        height: auto;
        opacity: 1;        
        text-align: center;
        transition: all .5s ease-in-out;    
    }
    #main-navigation-bar{
        overflow: visible;
    }
    #main-navigation-bar .menu-toggle{
        color: #fff;
        font-weight: 700;
        z-index: 10000;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0,-50%);
        -o-transform: translate(0, -50%);
    }
    #navigation{
        height: 0px;
        width: 100%;
    }
    .anchor{
        height: 54px; /*same height as header*/
        margin-top: -54px; /*same height as header*/
    }
    .cta-callout h2 em, .cta-callout h2 span { display: block; }
    .blog .fourcol { margin: 2em auto 0; width: 65%; }
    .blog .fourcol.first { margin-top: 0; }
    .multi-columns .column-item { padding: 0 .25em; font-size: .8em; }
    #frm_form_19_container { padding-bottom: 4em; }
    .page-hero .jcarousel li.target { font-size: 1em; }
    .page-hero .jcarousel li { font-size: .7em; }
    .jcarousel { left: auto; width: 100%; padding: 0 1.5em; }
    #main-navigation-bar .wrap {
        margin: 0;
        padding: 0;
        z-index: 999999;
        height: 52px;
    }
    #logo-bar {
        height: 52px !important;
    }
    #logo-bar img {
        position: absolute;
        top: -4px;
        left: 13px;
    }
    #menu-item-416, #menu-item-417 { display: inline-block !important; }
    .topMeta { display: none; }
    .top-bar { text-align: left; }
    #searchform { float: right; }
    #s { top: auto; }
    .frm_page_num_1 .frm_submit {
        bottom: -140px;
        top: auto;
    }
    .checkcol {
        width: 46%;
        margin: 0 2%;
    }
    #checklist-selection .checkcol .select-contain::before { display: none; }
    .checkcolWide {
        width: 50%;
    }
    .select-heading { padding-top: 1.5em; }
    .info-graphic-callout { overflow: hidden; }
    #main-navigation-bar .clearfix { display: none; }
    .text-block .wrap, .four-image-display .wrap, .wrap.close-wrap {
        padding: 0 1em;
    }
    .four-image-display img { max-width: 208px; display: block; margin: 0 auto 1em !important; }
    #frm_form_20_container .frm_submit { text-align: center; margin: 0; }
    .four-column-display .threecol { width: 33.3333%; margin: 2em auto 0; }
    .four-column-display .threecol.first { margin-top: 0; }
    .standalone-heading img {
        height: 55px;
    }
    .standalone-heading { padding: 1em 0 !important; }
    .standalone-heading h2 { font-size: 1.5em; line-height: 55px; }
    .resource-display .section-content { margin-bottom: 1em; }
    #frm_form_15_container .frm_page_num_1 .frm_submit { position: relative; left: auto; }
    .cta-callout {
        padding: 1.5em 0;
    }
    #frm_field_161_container, #frm_field_168_container {
        margin-top: 0em;
    }
    .cta-callout .linkButton { height: 45px; width: 200px; font-size: .9em; }
    .cta-callout .sixcol h2 { margin-bottom: .5em; }
    .cta-callout .sixcol h2:first-child { margin: 0; }
    .agent-popup .sevencol { float: left; }
    .agent-popup .fivecol { float: right; padding-left: 1em; padding-right: 1em; padding-top: 3em; padding-bottom: 3em; }
    #popup-close { width: 35px; height: 35px; top: 5px; right: 5px; }
    .agent-popup .fivecol, .agent-popup .sevencol {
        height: 300px;
    }
    .threecol.short-col { padding: 0 1em; }
    .lift-col { background: #FFFFFF; }
    #frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message h2 {
        font-size: 4em;
    }

    #frm_field_214_container {
        display: inline-block;
        width: 100%;
        text-align: center;
        top: auto;
    }
    .roadmap-item { font-size: .75em; }
    .roadmap-content {
        padding: 130% 15% 15%;
    }

    .page-template-template-landing-page-php h1 a { display: block; text-align: center; }
    .page-template-template-landing-page-php .page-hero .wrap { top: 1em; }
    .page-template-template-landing-page-php h1 img { position: relative; max-width: 100%; top: -15px; }
    #navigation ul li a{
        padding: 10px 26px;
        font-size: .73em;
    }
}
@media only screen and (max-width: 480px){
    #select-agent-cta .frm_submit { font-size: .7em; }
    #frm_form_2_container.frm_style_formidable-style.with_frm_style .frm_message h2 {
        font-size: 3em;
        text-align: center;
    }
    .blog .fourcol { width: 100%; }
    .page-hero { width: 100%; }
    .agent-popup .fivecol, .agent-popup .sevencol { height: auto; float: none; width: 100%; }
    #frm_form_18_container { border-top: 60px solid #93d679; }
    #popup-close {
        top: 5px;
        right: 5px;
    }
    .standalone-heading img {
        height: 40px;
    }
    .standalone-heading { padding: 1em 0 !important; }
    .standalone-heading h2 { font-size: 1em; line-height: 40px; }
    .four-column-display .threecol { width: 66.6666%; }
    .multi-columns .column-item { padding: 0 6em; font-size: 1em; width: 100%; float: none; margin-top: 2em; }
    .multi-columns .column-item:first-child { margin-top: 0; }
    #frm_form_19_container { padding-bottom: 0; }
    .page-hero {
        height: 480px;
    }
    #page-heading {
        font-size: 3em;
        margin-top: .75em;
    }
    .roadmap-display h2 {
        font-size: 1.2em;
    }
    .roadmap-display h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .info-graphic-callout .heading-wrap p { display: none; }
    .info-graphic-callout { padding: 1.5em 0 8em !important; }
    .roadmap-sib, .roadmap-item { display: none; }
    #footer img { max-width: 100%; }
    #footer h2 { font-size: 2em; }
    #footer h2 a, #footer p a { color: #FFFFFF !important; }
    .text-callout a { height: 50px; bottom: -25px; width: 180px; margin-left: -90px; }
    .text-callout h3 {
        font-size: 1.1em;
    }
    .text-callout.acf-row {
        padding: 2em 0 2.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    .resource-display h3 { font-size: .9em; }
    #submit-page-right-sub, #submit-page-heading, #submit-page-desc { text-align: center; }
    #frm_field_206_container h3 {
        padding: 4em 0 0;
    }
    #frm_form_2_container .frm_page_num_2 .submit-contain {
        top: auto;
        bottom: 47em;
        width: 100% !important;
        text-align: center !important;
    }
    .checkcol {
        width: 100%;
        margin: 0;
    }
    .checkcolWide {
        width: 100%;
    }
    .page-id-395 .frm_style_formidable-style.with_frm_style input[type="submit"], .page-id-7 .frm_style_formidable-style.with_frm_style input[type="submit"], .frm_style_formidable-style.with_frm_style .frm_page_num_2 input[type="submit"], .frm_style_formidable-style.with_frm_style .frm_page_num_1 input[type="submit"], .blog .frm_style_formidable-style.with_frm_style input[type="submit"], .post-type-archive-testimonial .frm_style_formidable-style.with_frm_style input[type="submit"], .single .frm_style_formidable-style.with_frm_style input[type="submit"], .cta-callout .frm_style_formidable-style.with_frm_style input[type="submit"] { height: 45px; width: 180px; }

    .frm_page_num_1 .frm_submit {
        bottom: -105px;
    }
    .acf-row {
        padding: 2em 0;
    }
    #frm_field_204_container { border-top: 1px solid #FFFFFF; padding-top: 20px; }
    .frm_page_num_2 #submit-devices { display: none; }
    .rangeslider__handle {
        background: url('../img/range-mobile.png') no-repeat center center !important;
        width: 90px !important;
        height: 89px !important;
        top: -36px !important;
    }
    .frm_top_container::before { text-align: left; }
    .frm_top_container::after { text-align: right; }
    #value-tracker { font-size: 1em; top: -1.45em; }
    .rangeslider::after { font-size: 1.1em; bottom: -170px; top: auto !important; }


    .responsive-tabs ul.responsive-tabs__list { margin-top: 10px !important; bottom: 15px !important; }
    .quiz-display {
        background-position: center center;
        padding: 1.5em 0 4em !important;
    }
    .quiz-display h2, .quiz-display h1 {
        font-size: 1.2em;
    }
    .quiz-display h3 { margin-top: 1em; font-size: 1em; }
    .rangeslider {
        margin-top: 4em !important;
    }
    .frm_top_container::before, .frm_top_container::after, #frm_field_92_container .rangeslider::before { font-size: 1em; }
    #quiz-form-title .wrap { padding: 0; }
    .responsive-tabs .responsive-tabs__panel { padding: 0 !important; }
    .quiz-banner-display h3 {
        font-size: .95em;
    }
    .quiz-banner-display h2 { font-size: 1.05em; }
    .quiz-banner-display .section-content { font-size: .8em; text-transform: none; }
    .quiz-banner-display::before { display: none; }
    .home .page-hero {
        height: 400px;
    }
    .page-hero .jcarousel li.target { font-size: .75em; }
    .jcarousel { top: -5.5em; }
    .page-hero .jcarousel li { font-size: .75em; }
    .caro-wrap { margin: 0; }
    .page-hero .wrap {
        top: 5em;
    }
    .page-hero h1 {
        font-size: 1.6em;
    }
    .rotating-check {
        padding: 15px 0 15px 55px;
    }
    .page-hero h2 {
        font-size: 1.1em;
    }
    .top-bar a, .top-bar span { font-size: .75em; margin: 0;}
    .top-bar span.topMeta{display: none;}
    .quiz-banner-display::before { margin-left: -65px; }
    .text-block img { margin: 0 !important; max-width: 100%; }

    .text-block img.testimonial-thumb { float: none; display: block; margin: 0 auto !important; }
}

.resource-display .fourcol a { color: #fbaf17; }

.mean-container .mean-nav ul li a.mean-expand { height: 24px; }

#quiz-box { overflow: hidden; }

.roadmap-display { z-index: 65;
    position: relative; }
.roadmap-display .wrap { padding: 0 4em; }

#frm_form_20_container .fourcol.last img { max-width: 100%; }

.page-hero .jcarousel li { cursor: pointer; }