@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-UltraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-DemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(/fonts/AvenirNext-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}


.profile{
    background-color: #f1f1f1;
    padding: 95px 0 40px;
    font-family: 'AvenirNext';
    font-weight: 400;
}
.profile .remove_link,
.profile .remove_link:focus{
    color: #d00000;
    float: right;
}
.profile .remove_link:hover,
.profile .remove_link:active,
.profile .remove_link:active:focus{
    color: #d00000;
    text-decoration: underline;
}
.profile textarea{
    resize: none;
}
.profile li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile a,
.profile a:focus{
    color: rgb(51,51,51);
}
.profile a:hover,
.profile a:active,
.profile a:active:focus{
    color: rgb(51,51,51);
    text-decoration: none;
}
.profile .btn,
.profile .btn:hover,
.profile .btn:focus,
.profile .btn:active,
.profile .btn:active:focus{
    border-radius: 20px;
    background-color: rgb(52, 133, 27);
    height: 65px;
    line-height: 65px;
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    outline: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
.profile p{
    font-size: 19px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile .reviews_btn,
.profile .reviews_btn:hover,
.profile .reviews_btn:active,
.profile .reviews_btn:focus,
.profile .reviews_btn:active:focus{
    display: inline-block;
    color: #000;
    margin-top: 20px;
    height: 34px;
    line-height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    border: 1px solid #555;
    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 50%, rgba(235,235,235,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(237,237,237,1) 50%,rgba(237,237,237,1) 50%,rgba(235,235,235,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(237,237,237,1) 50%,rgba(237,237,237,1) 50%,rgba(235,235,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
@media(max-width: 767px){
    .profile{
        padding-top: 50px; 
    }
}
/*****************
    HEADER
*****************/
.profile .header{
    margin: 0 0 45px;
}
.profile .header .actions ul{
    border-radius: 8px;
    background-color: rgb(161, 161, 161);
    padding: 9px 0;
    color: #fff;
}
.profile .header .actions li{
    display: block;
    padding: 0 15px;
    width: 50%;
}
.profile .header .actions li:not(:last-child){
    border-right: 1px solid #fff;
}
.profile .header .actions li a{
    font-size: 12.5px;
    color: rgb(255, 255, 255);
}

.profile .header .searchbox{
    background-color: rgb(172, 172, 172);
    height: 93px;
    line-height: 93px;
}
@media(max-width: 767px){
    .profile .header{
        margin: 0px 0 10px;
    }
}
/*****************
    USER INFO
*****************/
.profile .user_info{
    position: relative;

    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
}
.profile .user_info.certified:after{
    display: block;
    content: '';
    background: url(/img/certified.png) no-repeat center center;
    background-size: contain;
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    top: -20px;
}
.profile .user_info .user_photo{
    width: 240px;
    height: 240px;    
    margin: 0 40px 0 0; 
}
.profile .user_info .user_photo .img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
}
.profile .user_info .user_photo .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
}
.profile .user_info .personal_info{
    width: calc(100% - 280px);
}
.profile .user_info .personal_info h3{
    font-size: 32px;
    font-weight: 500;
    color: rgb(56, 56, 56);
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile .user_info .personal_info h4{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    letter-spacing: 2px;
    color: rgb(56, 56, 56);
    text-transform: uppercase;
    margin-top: 0;
}
.profile .user_info .personal_info li {
    font-size: 14px;
    text-align: left;
    line-height: 34px;
    padding-left: 30px;
    padding-right: 25px;
    position: relative;
}
.profile .user_info .personal_info li > i{
   position: absolute;
   left: 0;
   top: 0;
   line-height: 34px;
   font-size: 20px;
}
.profile .user_info .personal_info li .element{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile .user_info .personal_info li > a,
.profile .user_info .personal_info li > a:focus,
.profile .user_info .personal_info li > span{
    color: rgb(56, 56, 56);
}
.profile .user_info .personal_info li a:hover,
.profile .user_info .personal_info li a:active,
.profile .user_info .personal_info li a:active:focus,
.profile .user_info .personal_info li:hover > i{
    color: #d64521;
}
.profile .add-to-matches{
    border-radius: 5px;
    background-color: rgb(52, 133, 27);
    height: 16px;
    width: 96px;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff!important;
    float: right;
    text-align: center;
    margin-top: 8px;
}
.profile .personal_info .form-horizontal .form-group{
    margin-bottom: 0;
}

@media(max-width: 767px){
    .profile .user_info .user_photo{
       margin: 0 auto 20px;
    }
    .profile .user_info .personal_info{
        width: 100%;
    }
    .profile .user_info form{
        width: 100%;
    }
}
/*******************
    PROFILE BODY
*******************/
.profile .profile_body{

}
.profile .editable{
    position: relative;
}
.profile .editable:hover{
    background-color: #e5e5e5;
    cursor: default;
}
.profile .editable.editing:hover{
    background-color: transparent;
}
.profile .editor .form-group{
    display: block;
    margin: 0;
}
.profile .editor.x2 .form-group{
    float: left;
    width: 48%;
}
.profile .editor.x2 .form-group:first-of-type{
    margin-right: 4%;
}
.profile .editable .form-control,
.profile .editable .form-control:focus{
    border: none;
    border-radius: 0;
    border-color: transparent;
    outline: none;
    border-bottom: 1px solid #419dd9;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    
}
.profile .editable .actions{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    line-height: 1;
}
.profile .editable .editor .edit_controls,
.profile .editable .actions .edit_trigger,
.profile .editable.editing:hover .actions .edit_trigger,
.profile .editable .editor,
.profile .editable.editing .element{
    display: none;
    text-align: center;
}
.profile .editable.editing .editor .edit_controls,
.profile .editable:hover .actions .edit_trigger,
.profile .editable.editing .editor{
    display: block;
}
.profile .editable .editor .edit_controls a{
    font-size: 14px;
    display: block;
    color: #419dd9;
    text-align: right;
    line-height: 1.3;
}
.profile .editable .areas_list{
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
}
.profile .editable .areas_list li{
    display: inline-block;
    padding: 0 20px 0 10px;
    margin: 0 3px 5px 0;
    position: relative;
    border-radius: 5px;
    background-color: #bbb;
    box-shadow: 2px 3px 4px 0 #888;
    -webkit-box-shadow: 2px 3px 4px 0 #888;
}
.profile .editable .areas_list li .remove{
    position: absolute;
    right: 3px;
    top: 30%;
    line-height: 1;
}
.profile .profile_body .panel{
    padding: 20px;
    border-radius: 0;
}
.profile .profile_body .panel.no-padding{
    padding: 0;
}
.profile .profile_body .nav.nav-tabs{
    background: #e5e5e5;
    margin: 0;
}
.profile .profile_body .nav-tabs > li > a,
.profile .profile_body .nav-tabs > li > a:hover,
.profile .profile_body .nav-tabs > li > a:focus{
    color: rgb(51, 51, 51);
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 0;
}
.profile .profile_body .nav-tabs > li.active > a, 
.profile .profile_body .nav-tabs > li.active > a:hover, 
.profile .profile_body .nav-tabs > li.active > a:focus{
    border: none;
    background-color: #fff;   
}
.profile .profile_body .no-padding .tab-pane{
    padding: 20px;
}
.profile .profile_body .tab-pane .contacts{

}
.profile .profile_body .tab-pane .contacts span{
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    color: #333;
    line-height: 14px;
    line-height: 20px;
}
.profile .profile_body .name{
    font-size: 23px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000;
    margin: 0 0 10px 0;
}
.profile .profile_body .statistic{
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    margin-top: 30px;
}
.profile .profile_body .statistic .block{
    background-color: rgb(241, 241, 241);
    width: 31%;
    min-width: 200px;
    padding: 10px 5px 30px;
}
.profile .profile_body .statistic .block .value{
    font-size: 76px;
    font-weight: 800;
    color: rgb(207, 207, 207);
    text-align: center;
}
.profile .profile_body .statistic .block .info{
    color: rgb(207, 207, 207);
    text-align: center;
    font-size: 14px;
}
.profile .profile_body .statistic .block .info a{
    color: rgb(207, 207, 207);
}
.profile .profile_body .statistic .block .statistic_name{
    color: rgb(52, 133, 27);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
@media(max-width: 991px){
    .profile .editable .actions .edit_trigger{
        display: block;
    }
}
/*******************
    REVIEWS
*******************/

.profile .reviews .title {
  font-size: 16.5px;
  color: rgb(52, 133, 27);
  font-weight: 700;
  line-height: 1;
  margin: 45px 0 12px;
  text-transform: capitalize;
}
.profile.review_page .reviews .title{
    color: #000;
    font-size: 19px;
}
.profile .reviews p{
    font-weight: 500;
    font-size: 16px;
}
.profile .rating-container .filled-stars{
    color: #9c9c9c;
}
.profile .rating-container .empty-stars{
    color: #7b7b7b;
}
.profile .rating-container .caption{
    display: block;  
    padding: 5px 0;
    margin: 0;
    line-height: 1;
}
.profile .rating-container .caption .label{
    background-color: transparent;
    color: #7a7a7a;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
}
.profile .rating .see_all,
.profile .rating .see_all:focus,
.profile .rating .see_all:hover{
    color: #7a7a7a;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    padding-right: 10px;
}
.profile .rating .see_all:after{
    content: '▶';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    color: inherit;
    font-size: 8px;
    line-height: 1;
}
.profile .rating{
    display: block;
    margin: 0 0 10px 0;
}
.profile .rating-sm{
    font-size: 20px;
}
.profile .rating .rating-container{
    margin-bottom: 15px;
}
.profile .rating .progress-group{
    color: #7a7a7a;
    margin-bottom: 7px;
    font-size: 14px;
}
.profile .rating .progress-group:after{
    display: block;
    content: '';
    clear: both;
}
.profile .rating .progress{
    border: 1px solid #d9d9d9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,.5);
    border-radius: 0;
    height: 22px;
    float: left;
    width: 120px;
    margin-bottom: 0;
}
.profile .progress-bar{
    background-color: #9b9b9b;
    border: 1px solid #777;
}
.profile .rating label{
    float: left;
    width: 50px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
}
.profile .rating .value{
    float: left;
    width: 40px;
    text-align: right;
    line-height: 22px;
    font-weight: 500;
}
.profile .reviews_container{

}
.profile .reviews_container h4{
    color: #000;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 700;
}
.profile .reviews_container .single{
    margin-bottom: 20px;
}
.profile .reviews_container .single .rating,
.profile .reviews_container .single .title,
.profile .reviews_container .single .rating .rating-container{
    display: inline-block;
    margin: 0;
}
.profile .reviews_container .single .title{
    font-size: 14px;
}
.profile .reviews_container .single .written_by{
    color: #585858;
    font-size: 13px;
}
.profile .reviews_container .single .written_by a{
    color: #7a7a7a;
}
.profile .new_review{

}
.profile .new_review h3{
    color: rgb(52, 133, 27);
    font-weight: 19px;
    font-weight: 700;
    display: inline-block;
    line-height: 40px;
}
.profile .new_review .rating-container .caption{
    display: inline-block;
    margin-left: 10px;
}
.profile .new_review .inline_rating{
    display: inline-block;
}

/*****************
    TRANSACTIONS
*****************/

.transactions{
    position: relative;
}
.transactions h2{
    font-size: 19px;
    color: rgb(52, 133, 27);
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.transactions .btn,
.transactions .btn:hover,
.transactions .btn:active,
.transactions .btn:focus,
.transactions .btn:active:focus{
    border-radius: 10px;
    background-color: rgb(243, 175, 61);
    height: 45px;
    line-height: 45px;
    width: 220px;
    color: rgb(30, 30, 30);
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.transactions .panel{
    background-color: #eaeaea;
    position: relative;
}
.transactions .panel.approved{
    background-color: #fff;
}
.transactions .panel.featured:before{
    content: 'featured';
    text-transform: uppercase;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f9d448;
    color: #645c38;
    width: 100px;
    font-size: 13px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1;
    font-weight: 600;
}
.transactions .img{
    width: 36%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    min-height: 1px;
    height: 190px;
}
.transactions .img img{
    width: 100%;
    height: 100%;
}
.transactions .content{
    min-height: 190px;
    width: calc(100% - 36% - 30px);
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}
.transactions .title a,
.transactions .title a:focus{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
}
.transactions .title a:hover,
.transactions .title a:active:focus{
    color: #d64521;
}
.transactions .title a.btn-approve,
.transactions .title a.btn-approve:focus{
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 50px;
    display: inline-block;
    min-height: 30px;
    padding: 0 1em;
    line-height: 30px;
    position: relative;
    background: #FFA53B;
    color: #fff!important;
    border: none;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
}
.transactions .title a.btn-approve:hover,
.transactions .title a.btn-approve:active:focus{
    background: #e6912d;
    transition: all .5s;
    text-decoration: none;
    color: #fff!important;
}
.transactions .title a.btn-approve.complete,
.transactions .title a.btn-approve.complete:hover,
.transactions .title a.btn-approve.complete:focus {
    background-color: #37ab60;
    pointer-events: none;
    transition: all .5s;
    color: #fff;
}
.transactions address{
    color: #949494;
    font-size: 13px;
    margin: 7px 0;
}
.transactions address i{
    margin-right: 5px;
}
.transactions .transaction_details{
    list-style: none;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    margin: 0;
}
.transactions .transaction_details li{
    font-size: 14px;
    display: block;
    font-weight: 600;
}
.transactions .transaction_details li i{
    font-size: 17px;
    margin-right: 8px; 
}
.transactions .price{
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 7px;
    color: #d64521;
    float: left;
    line-height: 24px;
    margin: 10px 0 0;
}
.transactions .price small{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
}
.transactions .listed_by{
    font-size: 11px;
    line-height: normal;
    display: block;
    color: #8e8e8e;
    position: relative;
}
.transactions .listed_by a,
.transactions .listed_by a:hover,
.transactions .listed_by a:focus,
.transactions .listed_by a:active,
.transactions .listed_by a:active:focus{
    color: #3f3f40;
    display: block;
    font-size: 14px;
    font-weight: 600;
}
.transactions .listed_by .agent_img{
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.transactions .listed_by .agent_img img{
    width: 100%;
    height: 100%;
}
@media(max-width: 767px){
    .transactions .img,
    .transactions .content{
        width: 100%;
        float: none;
    }
    .transactions .transaction_details{
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
    }
    .transactions .transaction_details li{
        margin-right: 15px;
    }
    .transactions .btn,
    .transactions .btn:hover,
    .transactions .btn:active,
    .transactions .btn:focus,
    .transactions .btn:active:focus{
        float: none!important;
        margin: 20px auto;
        display: block;
    }
    .transactions h2{
        text-align: center;
    }
}
/*****************
    SIDEPANEL
*****************/
.profile .sidepanel{

}
.profile .sidepanel .panel{
    border-radius: 0;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.profile .sidepanel .panel .edit{
    display: none;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile .sidepanel .panel:hover .edit{
    display: block;
}
.profile .sidepanel .panel .label{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(/img/icons/award.png) no-repeat center center;
    background-size: cover;
    padding: 10px;
    line-height: 1;
    width: 30px;
    height: 35px;
}

.profile .sidepanel .panel.favourites .label{
    background: url(/img/icons/favourite.png) no-repeat center center;
    background-size: contain;
}
.profile .sidepanel .panel h3{
    color: rgb(30, 30, 30);
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.profile .sidepanel .panel ul{
    margin: 40px 0 20px;
    list-style: none;
}
.profile .sidepanel .panel ul li{
    display: block;
    background-color: #f8f8f8;
    height: 35px;
    line-height: 35px;
    margin-bottom: 18px;
    position: relative;
    color: rgb(52, 133, 27);
    font-size: 14.5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    padding: 0 10px;
}
.profile .sidepanel .panel.statistics ul li{    
    background-color: transparent;    
}
.profile .sidepanel .panel ul li:after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: calc(100% + 9px);
    background-color: #f1f1f1;
}
.profile .sidepanel .panel ul li > span{
    font-weight: 800;
    font-size: 30px;
    margin-right: 10px;
    color: #cfcfcf;
    float: left;
    width: 33.3333%;
    text-align: right;
}
.profile .sidepanel .slug-wrap{
    padding: 10px 0;
    display: block;
}
.profile .sidepanel .profile-photo-wrap{
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: inline-block;
    height: 80px;
    overflow: hidden;
    width: 80px;
    vertical-align: top;
}
.profile .sidepanel .profile-photo-wrap img{
    width: 100%;
    height: 100%;
}
.profile .sidepanel .info{
    display: inline-block;
    padding: 0 0 0 1em;
    vertical-align: middle;
    width: calc(100% - 95px);
    position: relative;
}
.profile .sidepanel .info .stats{
    font-size: 10px;
}
.profile .sidepanel .info h3 a{
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    font-weight: 500;
}
.profile .sidepanel .info .stats .stat{
    margin-right: 0;
    display: block;
    margin-bottom: .2em;
    color: #777;
}
.profile .sidepanel .info .stats .stat .hi-user {
    font-family: 'homelight-icons';
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 2px;
    display: inline-block;
    max-width: 50px;
    margin-right: .4em;
    font-size: 0.875rem;
    line-height: inherit;
}
.profile .sidepanel .info .stats .stat span {
    display: inline-block;
    font-size: 10px;
    letter-spacing: .6px;
    text-transform: uppercase;
    vertical-align: middle;
    width: calc(100% - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}
.profile .sidepanel .add-to-matches{
    font-size: 11px;
    border-radius: 50px;
    display: inline-block;
    margin-top: .5em;
    min-height: 30px;
    padding: .6em 10px;
    position: relative;
    background-color: #999;
    color: #fff;
    border: none;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 2;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
    text-transform: uppercase;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    float: none;
}
.profile .sidepanel .add-to-matches:hover{
    background: #777;
}
@media(max-width: 991px){
    .profile .sidepanel .panel ul li > span{
        font-size: 20px;
    }
}


/*********************
    NEW PROPERTY
*********************/

.create_property{
    padding: 95px 0 60px;
    font-family: 'AvenirNext';
}
.create_property .form-control,
.create_property .form-control:focus{
    outline: none;
    margin: 0;
    padding: 0 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    height: 35px;
    line-height: 35px;
}
.create_property .form-control.select2,
.create_property .form-control.select2:focus{
    padding: 0;
}
.create_property .input-group-addon{
    border-radius: 0;
    cursor: pointer;
}
.create_property .has-error .form-control,
.create_property .has-error .form-control:focus{
    border-color: #a94442;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.create_property .has-success .form-control,
.create_property .has-success .form-control:focus{
    border-color: #3c763d;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.create_property label{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
}
.create_property .btn,
.create_property .btn:focus{
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    width: auto;
    padding: 10px 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: solid 1px transparent;
    border-radius: 3px;
    outline: medium none;
    background-color: #5b2e8b;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.create_property .btn:hover,
.create_property .btn:active,
.create_property .btn:active:focus{
    background-color: #d64521;
    border-color: #d64521;
}
.create_property .form-group.has-success:after,
.create_property .form-group.has-error:after{
    display: none;
}
.create_property .select2-container .select2-choice{
    height: 100%;
    padding: 0 14px;
    border: none;
    background-image: none;
    line-height: 35px;
}
.create_property .select2-dropdown-open .select2-choice{
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.create_property .select2-container .select2-choice .select2-arrow{
    border-left: none;
    border-radius: 0;
    background: transparent;
    background-image: none;
}
.select2-drop-active{
    padding-top: 10px;
    border: 1px solid #ddd;
}
.select2-results .select2-highlighted{
    background: #ddd;
    color: #d64521;
}