@font-face {
    font-family: AvenirNext;
    src: url(../fonts/AvenirNext-UltraLight.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(../fonts/AvenirNext-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AvenirNext;
    src: url(../fonts/AvenirNext-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

a,
a:hover,
a:focus,
a:active,
a:active:focus{
    color: inherit;
    outline: none;
    text-decoration: none;
}
.btn,
.btn:focus{
    border-radius: 13px;
    background-color: rgb(52, 133, 27);
    height: 60px;
    line-height: 57px;
    color: #fff;
    font-size: inherit;
    padding: 0 16px;
    text-align: center;
    outline: none;
}
.btn:hover,
.btn:active,
.btn:active:focus{
    background-color: #70b068;
    outline: none;
}


.main-container{
    margin-top: 95px;
    font-family: 'AvenirNext';
    position: relative;
}
.main-container > .left-bar{
    background-color: #acacac;
    padding: 64px 30px 0 39px;
    width: 350px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.main-container .answers-content{
    width: calc(100% - 350px);
    background-color: #f1f1f1;
    padding: 0;
    min-height: 1320px;
    overflow: hidden;
    margin-left: 350px;
}

@media(max-width: 1199px){
    .main-container > .left-bar{
        padding: 64px 10px 0;
        width: 310px;
    }
    .main-container .answers-content{
        width: calc(100% - 310px);
        min-height: 1000px;
        margin-left: 310px;
    }
}
@media(max-width: 767px){
    .main-container{
        margin-top: 0;
    }
    .main-container > .left-bar{
        width: 100%;
        height: auto;
        padding: 64px 0 15px;
        position: static;
        order: 2;
    }
    .main-container > .left-bar .head,
    .main-container > .left-bar .update_result{
        width: 50%;
        float: left;
        padding: 0 15px;
    }
    .main-container .answers-content{
        width: 100%;
        min-height: 1px;
        margin-left: 0;
    }
}
@media(max-width: 540px){
    .main-container > .left-bar .head, 
    .main-container > .left-bar .update_result{
        width: 100%;
    }
}

/*******************
    LEFT COLUMN
*******************/

.lb-head{
    font-weight: 300;
    font-size: 23px;
    color: #f1f1f1;
    margin: 0;
    font-family: inherit;
}
.match_count{
    display: block;
    font-size: 29px;
    color: rgb(243, 175, 61);
    line-height: 1;
    font-weight: 400;
}
.call-men-img{
    width: 115px;
    height: 115px;
    float: right;
    margin-top: -20px;
}
.advocate{
    font-weight: 500;
    font-size: 16px;
    color: #248307;
    display: block;
}
.call-btn,
.call-btn:focus{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #34851b;
    width: 100px;
    line-height: 35px;
    border: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.call-btn:hover,
.call-btn:active,
.call-btn:active:focus{
    background-color: #70b068;
    text-decoration: none;
    outline: none;
}
.lb-search-head{
    font-size: 23px;
    color: rgb(106, 106, 106);
    text-transform: uppercase;
    line-height: 1;
    margin: 100px 0 35px;
    font-weight: 500;
}
.search_results{

}
.search_results .select2-container{
    width: 100%;
    height: 100%;
    vertical-align: initial;
}
.search_results .select2-container .select2-choice{
    border: none;
    padding: 0 0 0 15px;
    background: none;
    height: 46px;
    line-height: 46px;
    text-align: left;
}
.search_results .select2-container-active .select2-choice, 
.search_results .select2-container-active .select2-choices{
    box-shadow: none;
    -webkit-box-shadow: none;
}
.search_results .select2-container .select2-choice .select2-arrow{
    background: #f5f5f5;
    border-left-color: #e4e4e4;
    text-align: center;
    color: #717272;
    width: 35px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
.search_results .select2-container .select2-choice .select2-arrow b {
    background: 0 0!important;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.search_results .select2-container.select2-dropdown-open .select2-arrow b {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.search_results .select2-container .select2-choice .select2-arrow b:before {
    position: relative;
    display: block;
    font-family: FontAwesome;
    content: '\f107';
}
.select2-container .select2-choice > .select2-chosen{
    font-weight:300;
}
.search_results .form-group.has-success:after,
.search_results .form-group.has-error:after{
    display: none;
}
.search_results .result_block{
    width: 100%;
    background-color: rgb(248, 248, 248);
    height: 46px;
    line-height: 46px;
    padding: 0 15px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    color: #000;
    margin-bottom: 25px;
}
.search_results .result_block p{
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search_results .result_block a.edit_trigger{
    position: absolute;
    right: 15px;
    bottom: 10px;
    line-height: 1;
    display: block;
    font-size: 14px;
}
.search_results .editable{
    position: relative;
}
.search_results .editable .edit_field{
    float: left;
    width: 83.33333%
}
.search_results .editable .edit_controls{
    float: right;
    width: 16.66667%;
    padding: 0 10px 0 0;
    line-height: 46px;
}
.search_results .editable:hover{
    cursor: default;
}
.search_results .editable.editing:hover{
    
}
.search_results .editor .form-group{
    display: block;
    margin: 0;
    height: 46px;
}
.search_results .editor.x2 .form-group{
    float: left;
    width: 48%;
}
.search_results .editor.x2 .form-group:first-of-type{
    margin-right: 4%;
}
.search_results .editable .form-control,
.search_results .editable .form-control:focus{
    border: none;
    border-radius: 0;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    line-height: 46px;
    height: 46px;
    font-size: inherit;
    font-weight: 300;
    padding: 0 0 0 15px;
    
}
.search_results .editable .actions{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    line-height: 1;
}
.search_results .editable .editor .edit_controls,
.search_results .editable .actions .edit_trigger,
.search_results.edit .editable.editing .actions .edit_trigger,
.search_results .editable .editor,
.search_results .editable.editing .element{
    display: none;
    text-align: center;
}
.search_results .editable.editing .editor .edit_controls,
.search_results .editable.editing .editor,
.search_results.edit .editable .actions .edit_trigger{
    display: block;
}
.search_results .editable .editor .edit_controls a{
    font-size: 18px;
    display: block;
    color: #D00000;
    text-align: right;
    line-height: 46px;
}
.search_results .editable .areas_list{
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
}
.search_results .editable .areas_list li{
    display: inline-block;
    padding: 0 20px 0 10px;
    margin: 0 3px 5px 0;
    position: relative;
    border-radius: 5px;
    background-color: #bbb;
    box-shadow: 2px 3px 4px 0 #888;
    -webkit-box-shadow: 2px 3px 4px 0 #888;
}
.search_results .editable .areas_list li .remove{
    position: absolute;
    right: 3px;
    top: 30%;
    line-height: 1;
}
.search_results .actions{
    font-size: 23px;    
}
.search_results .actions:after{
    content: '';
    display: block;
    clear: both;
}
.search_results .actions a{
    font-weight: 500;
    text-transform: capitalize;
    line-height: 57px;
}
.search_results .actions .btn{
    float: left;
}
.search_results .actions .modify{
    float: right;
    color: rgb(106, 106, 106);
}


@media (max-width: 1199px){  
    .lb-search-head{
        margin: 20px 0;
    }
}

@media (max-width: 767px){ 
    .lb-search-head{
        margin: 0 0 20px;
    }
    .search_results .result_block{
        margin-bottom: 10px;
    }
}

/********************

    MAIN CONTENT

********************/

.figures-wrap{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;

    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;

    position: absolute;
    top: 0;
    max-width: 960px;
    margin: 64px auto 0;

    width: calc(100% - 350px - 212px);
    left: calc(50% + 175px - 106px);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    z-index: 9;
}

.figures-wrap .progress-indicator{
    height: 8px;
    position: absolute;
    top: 11px;
    left: calc(100% / 12);
    right: calc(100% / 12);
    background: 0 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
}
.figures-wrap .progress-indicator span{
    background-color: #248307;
    border-radius: 4px;
    height: 100%;
    width: 0;
    display: block;
    -webkit-transition: height 250ms cubic-bezier(.19,1,.22,1),width 1000ms cubic-bezier(.19,1,.22,1);
    -moz-transition: height 250ms cubic-bezier(.19,1,.22,1),width 1000ms cubic-bezier(.19,1,.22,1);
    -o-transition: height 250ms cubic-bezier(.19,1,.22,1),width 1000ms cubic-bezier(.19,1,.22,1);
    transition: height 250ms cubic-bezier(.19,1,.22,1),width 1000ms cubic-bezier(.19,1,.22,1);
}

.figures-wrap .figure{
    display: block; 
    z-index: 2;
    width: calc(100% / 6);
    text-align: center;
}
.figures-wrap .figure a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #fff;
    margin: 0 auto 38px;   
    display: block; 
    transition: all .3s ease-in-out;
    cursor: not-allowed;
}
.figures-wrap .figure.current a{
    background-color: #248307;
    border: 6px solid #bdbcbc;
    transition: all .3s 220ms ease-in-out;
    cursor: pointer;
}
.figures-wrap .figure.completed a{
    border: 6px solid #248307;
    background: #248307 url('/img/completed_step.png') center center no-repeat;
    background-size: auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.answers-content .right-bar{
    background-color: #ebebeb;
    width: 212px;
    padding: 64px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.question {
    width: calc(100% - 212px);
    padding-top: 150px;
}
.question p{
	margin: 0;
	text-align: left;
}
.question main {
    width: 100%;
    min-height: 800px;
    max-width: 1960px;
    background: transparent;
    box-sizing: border-box;
    color: #fff;
    padding: 35px;
    margin: auto;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translatez(0);
    -moz-transform: none !important;
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.question .question-heading{
    margin: 50px 0;
    text-align: center;
    font-size: 42px;
    color: rgb(52, 52, 52);
    line-height: 1;
    text-align: center;
    font-weight: 500;
}
.question .question-heading span{
    font-size: 36px;
    color: rgb(36, 131, 7);
    font-weight: 500;
    line-height: 1.4;
}
.question .question-heading .text{
    font-size: 23px;
    font-weight: 300;
    color: #000;
    line-height: 1.2;
}
.answers{
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;

    max-width: 640px;
    margin: 0 auto 80px;
}
.answers.light{
    padding: 95px 95px 45px;
    background-color: #f5f5f5;
}
.answers .btn{
    font-weight: 500;
    font-size: 24px;
    display: block;
    margin: 0 auto;
}
.answers .answer{
    width: 50%;
    margin-bottom: 40px;
}
.answers.type .answer{
    width: 33.33333%;
}
.answers .answer > a {
   display: block;
   width: 170px;
   color: #000;
   margin: 0 auto;
   position: relative;
}
.answers .answer > a .checky{
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    line-height: 1;
    color: inherit;
}
.answers .answer > a.selected .checky{
    display: block;
}
.answers .answer > a:hover{
    color: #000;
}
.answers.type .answer > a{
    width: 137px;
}
.answers.buttons .answer > a{
    width: 240px;
}
.answers .answer > a .content{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(52, 133, 27);
    border-radius: 7px;
    background-color: rgb(248, 248, 248);
    width: 100%;
    padding: 0 24px;
    position: relative;
    text-align: center;
    line-height: 165px;
    height: 165px;
}
.answers .answer > a:hover .content{
    background-color: #dedede;
}
.answers.type .answer > a .content{
    line-height: 131px;
    height: 131px;
}
.answers.buttons .answer > a .content{
    line-height: 59px;
    height: 59px;
}
.answers .answer > a .content img{
    height: auto;
    width: 100%;
}
.answers .answer span {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 24px;
    display: block;
}
.answers.type .answer span,
.answers.buttons .answer span{
    font-size: 22px;
    font-weight: 300;
    color: rgb(52, 133, 27);
}
.answers.buttons .answer > a .content span{
    margin-top: 0;
    display: inline-block;
    text-transform: capitalize;
}
.answers input{
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 25px;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    line-height: 47px;
    height: 47px;
    border: 1px solid rgb(52, 133, 27);
    outline: none;
    margin: auto;
}
.answers input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: AvenirNext;
    color: rgb(52, 133, 27);
    font-weight: 300;
    font-size: 20px;
}
.answers input::-moz-placeholder { /* Firefox 19+ */
    font-family: AvenirNext;
    color: rgb(52, 133, 27);
    font-weight: 300;
    font-size: 20px;
}
.answers input:-ms-input-placeholder { /* IE 10+ */
    font-family: AvenirNext;
    color: rgb(52, 133, 27);
    font-weight: 300;
    font-size: 20px;
}
.answers input:-moz-placeholder { /* Firefox 18- */
    font-family: AvenirNext;
    color: rgb(52, 133, 27);
    font-weight: 300;
    font-size: 20px;
}
.answers input:focus{
    outline: none;
}

.answers .form-group{
    position: relative;
    width: 100%;
    margin: 0 auto 20px;
}
.answers .form-group.has-success input{
    border: 1px solid transparent;
}
.answers h2.question-ask {
    font-size: 25px;
}
@media(max-width: 1199px){
    .answers .answer{
        width: 100%;
        margin: 15px auto;
    }
    .answers.type .answer{
        width: 50%;
    }
    .question .question-heading{
        margin: 10px 0;
    }
     .figures-wrap{
        width: calc(100% - 310px - 212px);
        left: calc(50% + 160px - 106px);
    }
}
@media(max-width: 991px){
    .question {
        width: 100%;
    }
    .figures-wrap{
        width: calc(100% - 310px);
        left: calc(50% + 160px);
    }
}
@media(max-width: 767px){
    .question .question-heading span{
        line-height: 1.2;
    }
    .answers.light{
        padding: 20px 0;
    }
    .figures-wrap{
        width: 100%;
        left: 0;
        position: static;
         transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        background-color: #f1f1f1;
        margin: 40px 0 0;
        padding: 30px 0;
    }
    .figures-wrap .figure span{
        display: none;
    }
    .figures-wrap .figure.current span{
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }
    .figures-wrap .progress-indicator{
        top: 41px;
    }
    .answers{
        margin: 0;
    }
    .answers .answer span{
        margin-top: 10px;
    }
    .answers.type .answer span, .answers.buttons .answer span{
        font-size: 15px;
    }
    .question{
        padding-top: 0;
    }
    .question main{
        min-height: 1px;
    }
    .call-men-img{
        margin-top: 0;
    }
}
/**********************

    RIGHT COLUMN

**********************/

.matches{
    padding: 0;    
    width: 100%;
}
.certificate{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    background: url(/img/certified.png) center center no-repeat;
    background-size: contain;
    height: 115px;
    width: 115px;
    display: block;
}
.matches h3{
    text-align: center;
    font-size: 16.5px;
    font-weight: 500;
    color: rgb(172, 172, 172);
    margin: 0 0 17px;
    line-height: 1;
}

.matches ul{
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.matches .ps-container .ps-scrollbar-y-rail{
    width: 5px;
    position: absolute;
    z-index: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}
.matches:hover .ps-container .ps-scrollbar-y-rail{
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.matches .ps-scrollbar-y-rail .ps-scrollbar-y {
    background-color: rgba(255, 255, 255, 0.6);
}
.matches .ps-container .ps-scrollbar-y {
    position: absolute;
    right: 0;
    width: 5px;
    background-color: #aaa;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.matches ul li{
    position: relative;
}
.matches ul li.certificated:after{
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/certified.png) center center no-repeat;
    background-size: 100% 100%;
    right: 0;
    top: 0;
}
.matches ul li a{
    color: #000;
    background-color: #e1e1e1;
    line-height: 64px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;

    padding: 0 0 0 21px;
    max-width: 100%;
}
.matches ul li:nth-of-type(even) a{
    background-color: #fdf9e0;
}
.matches ul li a:hover,
.matches ul li a:focus,
.matches ul li a:active:focus{
    text-decoration: none;
    color: #000;
    outline: none;
}
.matches .img{
    border-radius: 50%;
    overflow: hidden;
    width: 46px;
    height: 46px;
    display: inline-block;
    margin-right: 9px;
}
.matches .img > img{
    width: 100%;
    height: 100%;
    display: block;
}
.matches .name{
    font-size: 18px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 300;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 55px);
}
.right-bar > a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: rgb(36, 131, 7);
    font-weight: 500;
}
@media(max-width: 991px){
    .matches ul{
        margin: 0 auto;
        width: calc(100% - 80px);
    }
     .main-container .right-bar{
        width: 100%;
        position: static;
    }
}
/***********************

    NAVIGATION

***********************/
section#nav{
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 300px;
    transform: translate3d(0, 0, 0);
    padding: 50px 0 0;
    text-align: center;
    height: auto!important;
}
section#nav ul.process-overview-mobile {
    display: none;
    height: 60px;
    text-align: center;
}
section#nav ul.process-overview-mobile li.active label{
    color: #e6912d;
}
section#nav ul.process-overview {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 40px;
    text-align: left;
    position: relative;
}
section#nav ul.process-overview-mobile .process-step {
    display: inline-block;
    width: 16.66%;
    position: relative;
    height: 32px;
}
section#nav ul.process-overview-mobile .process-step:hover{
    border: none;
    outline: none;
}
section#nav ul.process-overview-mobile .icon, section#nav ul.process-overview-mobile svg{
    height: 24px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
section#nav ul.process-overview-mobile label {
    font-size: 10px;
    font-size: 0.625rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}
#process-cursor {
    position: absolute;
    left: 15px;
    top: 175px;
    width: .8em;
    height: 3px;
    background-color: #F8A248;
    transition: all .3s;
}
section#nav ul.process-overview li.process-step {
    padding-bottom: 0;
    transform: translate3d(0, 0, 0);
    color: #fff;
    list-style-type: none;
    margin: 0;
    text-align: left;
    position: relative;
    display: block;
    background: transparent;
}
section#nav ul.process-overview li.process-step:hover{
    border: transparent;
}
section#nav ul.process-overview li a{
    padding: 0;
    text-align: inherit;
    background: transparent;
    display: inline-block;
    color: rgba(255,255,255,0.6);
}
section#nav ul.process-overview li a:hover,
section#nav ul.process-overview li a:focus,
section#nav ul.process-overview li a:active,
section#nav ul.process-overview li a:active:focus,
section#nav ul.process-overview li.active > a{
    background: transparent;
    color: #fff;
    text-decoration: none;
    outline: none;
}
section#nav ul.process-overview h3 {
    text-transform: uppercase;
    border-radius: 0 50px 50px 0;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 1.5px;
    padding: 0 40px .2em 0;
    transition: all .5s;
    cursor: pointer;
    color: rgba(255,255,255,0.6);
}
section#nav ul.process-overview h3:hover,
section#nav ul.process-overview .active h3 {
    color: #F8A248;
}
section#nav ul.process-overview .desc {
    margin-left: 1.8em;
    font-size: 14px;
    font-size: 0.875rem;
    color: rgba(255,255,255,0.6);
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}
section#nav ul.process-overview .desc {
    max-height: 300px;
    -webkit-animation: grow-height 3s;
    -moz-animation: grow-height 3s;
    -o-animation: grow-height 3s;
     animation: grow-height 3s;
}
section#nav ul.process-overview .desc ul.details {
    list-style: none;
    padding: 0;
    display: block;
    position: static;
}
section#nav ul.process-overview .desc ul.details li,
section#nav ul.process-overview .desc ul.details a.edit-search {
    margin-bottom: .5em;
    padding-right: .2em;
    text-transform: capitalize;
    background-color: transparent;
    display: block;
    text-align: left;
    border: none;
    padding: 0;
}
section#nav ul.process-overview .desc ul.details a.edit-search{
    color: rgba(255,255,255,0.6);
}
section#nav ul.process-overview .desc ul.details li:hover,{
    border: transparent;
}
section#nav ul.process-overview .desc ul.details a.edit-search:hover,
section#nav ul.process-overview .desc ul.details a.edit-search.active {
    color: #F8A248;
}
section#nav ul.process-overview .desc ul.details li.panel{
    cursor: pointer;
}
section#nav ul.process-overview .desc ul.details li.panel.active{
    color: #fff;
}
section#nav ul.process-overview .desc ul.details .edit-search {
    font-style: italic;
    cursor: pointer;
}
section#nav ul.process-overview .match-count {
    display: inline-block;
    margin-left: .5em;
    background: rgba(0,0,0,0.3);
    min-width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 20px;
    padding: 0 10px;
}

/**********************

    RESULTS

**********************/

.interstitial-complete {
    background-color: #ddd;
    padding-bottom: 0;
    position: relative;
    padding: 40px 30px;
    text-align: center;
    width: calc(100% - 212px);
}
.interstitial-complete > * {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
.interstitial-complete:after{
    display: block;
    content: '';
    clear: both;
}
.interstitial-complete header {
    text-align: left;
    margin-bottom: 2em;
    padding: 0;
    position: relative;
}
.interstitial-complete h2 {
    margin-bottom: 20px;
    font-size: 2.2em;
    color: #333;
    text-shadow: 1px 1px rgba(0,0,0,0.03), 2px 2px rgba(0,0,0,0.03), 3px 3px rgba(0,0,0,0.03), 4px 4px rgba(0,0,0,0.03), 5px 5px rgba(0,0,0,0.03), 6px 6px rgba(0,0,0,0.03);
}
.interstitial-complete .sub-heading {
    display: inline-block;
    padding-right: 1em;
    margin-bottom: 1em;
}
.interstitial-complete .sub-heading ul {
    margin: 0;
    color: #777;
    padding: 0;
    list-style: none;
}
.interstitial-complete .sub-heading li {
    position: relative;
    margin-bottom: .5em;
    padding-left: 1.5em;
}
.interstitial-complete .sub-heading li .hi-circle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 6px;
    font-size: 0.375rem;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    line-height: 24px;
}
.interstitial-complete .sub-heading span {
    vertical-align: middle;
    display: inline-block;
}
.interstitial-complete .filters{
    position: relative;
    text-align: left;
}
.interstitial-complete .filters ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.interstitial-complete .filters ul li{
    display: inline-block;
}
.interstitial-complete .filters ul li a:after{
    content: '\f07d';
    margin-left: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.interstitial-complete .filters ul li a.asc:after{
    content: '\f160';
}
.interstitial-complete .filters ul li a.desc:after{
    content: '\f161';
}
.interstitial-complete .outline-btn {
    font-size: 14px;
    font-size: 0.875rem;
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: none;
    color: #777;
    margin-right: 1em;
    margin-bottom: 1em;
    min-height: 20px;
    min-width: 50px;
    padding: .3em 1.5em;
    text-transform: none;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    transition: all .3s;
    transform: translate3d(0, 0, 0);
}
.interstitial-complete .outline-btn.selected,
.interstitial-complete .filters ul li a.asc,
.interstitial-complete .filters ul li a.desc {
    border-color: #e6912d;
    color: #e6912d;
    box-shadow: none;
}
.interstitial-complete .outline-btn:hover{
    border-color: #0f70af;
    color: #0f70af;
    text-decoration: none;
}
.interstitial-complete .outline-btn.selected:hover{
    border-color: #e6912d;
    color: #e6912d;
}
.interstitial-complete .agent-card {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
    text-align: left;
    margin: 0 0 3em 0;
    position: relative;
    transition: max-height .3s, margin .3s, transform .3s;
    max-height: 1000px;
    transition: opacity .3s;
    margin: 0 0 2em 0;
    position: relative;
}
.interstitial-complete .agent-card:after{
    content: '';
    display: block;
    clear: both;
}
.interstitial-complete .agent-card h3{
    margin-bottom: 4px;
    max-width: 181px;
}
.interstitial-complete .agent-card .left_side{
    padding: 25px 30px 0;
    position: relative;
    width: 60%;
    overflow: hidden;
    border-right: 1px solid #ddd;
    float: left;
    height: 600px;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}
.interstitial-complete .agent-card .right_side{
    width: 40%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 600px;
}
.interstitial-complete .agent-card .right_side > img{
    width: 100%;
    height: auto;
}
.interstitial-complete .agent-card .left_side .wrap{
    margin-bottom: 30px;
}
.remove_favourite{
    font-size: 12px;
    font-size: 0.75rem;
    color: #999;
    position: absolute;
    right: 1em;
    cursor: pointer;
    top: 1em;
    z-index: 3;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #999;
    border-radius: 50px;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0;
}
.remove_favourite:after{
    content: "\00d7";
    display: block;
    font-size: 2em;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 27px;
}

.interstitial-complete .additional_info{
    color: #333;
    padding: 1em 1.5em;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 1em;    
    position: relative;
}
.interstitial-complete .additional_info span{
    font-weight: 600;
}
.interstitial-complete .btn.connect{
    border-radius: 0;
    border: none;
    bottom: 0;
    height: auto;
    padding: 1.2em;
    right: 0;
    transition: all .5s;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    min-width: 150px;
    min-height: 40px;
    outline: none;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
.interstitial-complete .badges{
    color: #333;
    display: block;
    width: calc(100% - 255px);
    padding: 0;
    text-align: center;
    vertical-align: top;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.interstitial-complete .agent-card .left-side {
    width: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.interstitial-complete .slug-wrap{
    width: 255px;
    vertical-align: top;
    padding: 10px 0 10px 10px;
    display: block;
    float: left;
}
.interstitial-complete .profile-photo-wrap{
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: inline-block;
    height: 80px;
    overflow: hidden;
    width: 80px;
    vertical-align: top;
}
.interstitial-complete .profile-photo-wrap img{
    width: 100%;
    height: 100%;
}
.interstitial-complete .info{
    display: inline-block;
    padding: 0 0 0 1em;
    vertical-align: middle;
    width: calc(100% - 80px);
    position: relative;
}
.interstitial-complete .agent-card .info .status{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: center;
    height: 26px;
    border-radius: 50px;
    border: 1px solid #0A87D8;
    padding: 0 1em;
    overflow: visible;
}
.interstitial-complete .tooltip{
    display: none;
    opacity: 0;
    transition: all .3s;
    font-size: 11px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    left: 0;
    margin-left: -25%;
    opacity: 1;
    padding: .8em 1.2em;
    position: absolute;
    text-align: left;
    top: calc(100% + 10px);
    width: 150%;
    z-index: 3;
}
.interstitial-complete .tooltip:after{
    font-size: 26px;
    font-size: 1.625rem;
    color: #333;
    content: "\f0d8";
    font-family: 'homelight-icons';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -21px;
    width: 15px;
}
.interstitial-complete .agent-card .info .status:hover .tooltip{
    display: block;
    opacity: 1; 
    transition: all .3s;
}

.interstitial-complete .agent-card .wrap .status i{
    color: #0A87D8;
    line-height: 25px;
}
.interstitial-complete .info h3 a{
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.interstitial-complete .info .stats{
    font-size: 10px;
}
.interstitial-complete .info .stats .stat{
    margin-right: 0;
    display: block;
    margin-bottom: .2em;
    color: #777;
}
.interstitial-complete .info .stats .stat .hi-user {
    font-family: 'homelight-icons';
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 2px;
    display: inline-block;
    max-width: 50px;
    margin-right: .4em;
    font-size: 0.875rem;
}
.interstitial-complete .info .stats .stat span {
    display: inline-block;
    font-size: 10px;
    letter-spacing: .6px;
    text-transform: uppercase;
    vertical-align: middle;
    width: calc(100% - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.interstitial-complete .add-to-matches {
    font-size: 11px;
    border-radius: 50px;
    display: inline-block;
    margin-top: .5em;
    min-height: 30px;
    padding: .6em 10px;
    position: relative;
    background: #FFA53B;
    color: #fff;
    border: none;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 2;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
    text-transform: uppercase;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}
.interstitial-complete .add-to-matches:hover{
    background: #e6912d;
    transition: all .5s;
    text-decoration: none;
    color: #fff;
}
.interstitial-complete .add-to-matches.complete,
.interstitial-complete .add-to-matches.complete:focus {
    background-color: #37ab60;
    transition: all .5s;
    color: #fff;
}
.interstitial-complete .comparison-stat {
    padding: 15px 7px;
    text-align: center;
    vertical-align: top;
    height: 100%;
    color: #333;
    overflow: hidden;
    font-size: 0.625rem;
    display: block;
    float: left;
    width: 33.3333%;
    height: 100%;
}
.interstitial-complete .comparison-stat.filtered{
    color: #0A87D8;
}
.interstitial-complete .seller .comparison-stat{
    width: 25%;
    border-left: 1px solid #ddd;
}
.interstitial-complete .comparison-stat .val {
    font-size: 23px;
    display: block;
}
.interstitial-complete .comparison-stat label {
    letter-spacing: .3px;
    font-size: 10px;
    display: block;
    font-weight: 300;
}
.interstitial-complete .comparison-stat a,
.interstitial-complete .comparison-stat a:focus{
    color: #fff;
    line-height: 30px;
    height: 30px;
    font-size: 11px;
    border-radius: 8px;
    margin-top: 25px;
    padding: 0 8px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.interstitial-complete .input-wrap{
    margin-bottom: 2em;
    text-align: left;
}
.interstitial-complete .input-wrap input{
    width: 100%;
    display: inline-block;
    margin: 1em 0 0;
    padding: .5em 1em;
    border: 2px solid #ddd;
}
.interstitial-complete .remove_favourite .tooltip{
    line-height: normal;
    text-transform: capitalize;
    left: auto;
    right: -5px;
    width: 125px;
    margin-left: 0;
    text-align: center;
}
.interstitial-complete .remove_favourite .tooltip:after{
    right: -90px;
    top: -16px;
}
.interstitial-complete .remove_favourite:hover .tooltip{
    display: block;
    opacity: 1; 
    transition: all .3s;
}

@media (max-width: 1199px) {   
    .interstitial-complete{
        padding: 50px 4%;
        margin: 0;
    }
}
@media (max-width: 991px) {
     .interstitial-complete .agent-card .left_side{
        width: 100%;
        padding: 25px 10px 60px;
    }
    .interstitial-complete{
        width: 100%;
        margin-top: 0;
        padding: 20px 7%;
    }
    .interstitial-complete .slug-wrap,
    .interstitial-complete .badges{
        width: 100%;
        float: none;
    }
    .interstitial-complete .badges{
        position: static;
        border-top: 1px solid #ddd;
        height: 107px;
    }
}
@media (max-width: 767px) {
    .interstitial-complete .info{
        width: calc(100% - 130px);
    }
    .interstitial-complete .slug-wrap{
        width: 100%;
    }
    .interstitial-complete .badges:after{
        display: block;
        content: '';
        clear: both;
    }
    .interstitial-complete .seller .comparison-stat{
        border-top: 1px solid #ddd;
    }
    .interstitial-complete{
        padding: 20px 35px;
    }
}

@-webkit-keyframes flip-icon {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: perspective(400px) scale3d(0.8, 0.8, 0.8);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}
@-moz-keyframes flip-icon {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: perspective(400px) scale3d(0.8, 0.8, 0.8);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}
@-o-keyframes flip-icon {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: perspective(400px) scale3d(0.8, 0.8, 0.8);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}
@keyframes flip-icon{
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    90% {
        transform: perspective(400px) scale3d(0.8, 0.8, 0.8);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}